{% extends 'base/base.html' %}
{% load static %}

{% block title %}{{ category_info.name }}{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/guides/guide.css" %}">
{% endblock %}

{% block content %}
    {% include "base/navbar.html" %}

    <section class="breadcrumb-section section">
        <div class="container">
            <nav class="breadcrumb is-pulled-left" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/guides">Guides</a></li>
                    <li class="is-active"><a href="#">{{ category_info.name }}</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="content">
                <h1>{{ category_info.name }}</h1>
                {% for guide, data in guides.items %}
                    <div class="box" style="max-width: 800px;">
                        <span class="icon is-size-4 is-medium">
                            <i class="fab fa-python is-size-3 is-black has-icon-padding" aria-hidden="true"></i>
                        </span>
                        <a href="/guides/category/{{ category_name }}/{{ guide }}/">
                                <span class="is-size-4 has-text-weight-bold">{{ data.title.0 }}</span>
                        </a>
                        <p class="is-italic">{{ data.short_description.0 }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
