{% load static %}
<div class="panel">
    <p class="panel-heading">Important Links</p>
        <a class="panel-block has-text-link" href="{% url "events:page" path="code-jams/11/rules" %}">Rules</a>
        <a class="panel-block has-text-link" href="{% url "events:page" path="code-jams/11/frameworks" %}">Approved Frameworks</a>
        <a class="panel-block has-text-link" href="{% url "events:page" path="code-jams/code-style-guide" %}">The Code Style Guide</a>
    </ul>
</div>
<div class="box">
    <img src="/static/images/events/summer_code_jam_2024/logo.webp" alt="logo">
</div>
