{% load static %}
<div class="panel">
    <p class="panel-heading">Important Links</p>
        <a class="panel-block has-text-link" href="{% url "events:page" path="code-jams/12/rules" %}">Rules</a>
        <a class="panel-block has-text-link" href="{% url "events:page" path="code-jams/12/frameworks" %}">Approved Frameworks</a>
        <a class="panel-block has-text-link" href="{% url "events:page" path="code-jams/code-style-guide" %}">The Code Style Guide</a>
        <a class="panel-block has-text-link" href="{% url "events:page" path="code-jams/judging" %}">How Judging Works</a>
    </ul>
</div>
<div class="box">
    <img src="/static/images/events/summer_code_jam_2025/logo.png" alt="logo">
</div>
