{% load static %}
<div class="panel">
    <p class="panel-heading">Important Links</p>
        <a class="panel-block has-text-link" href="{% url "events:page" path="code-jams/8/rules" %}">Rules</a>
        <a class="panel-block has-text-link" href="{% url "events:page" path="code-jams/8/frameworks" %}">Approved Frameworks</a>
        <a class="panel-block has-text-link" href="{% url "events:page" path="code-jams/8/github-bootcamp" %}">GitHub Bootcamp</a>
        <a class="panel-block has-text-link" href="{% url "events:page" path="code-jams/the-code-style-guide" %}">The Code Style Guide</a>
    </ul>
</div>
<div class="box">
    <img src="{% static "images/events/summer_code_jam_2021/banner.png" %}" alt="Summer Code Jam 2021">
    <h4 class="menu-label">Our Sponsors</h4>
    <a href="https://www.digitalocean.com/" target="_blank">
        <img src="{% static "images/events/DO_Logo_Vertical_Blue.png" %}" alt="Digital Ocean">
    </a>
    <a href="https://jetbrains.com" target="_blank">
        <img src="{% static "images/sponsors/jetbrains.png" %}" alt="JetBrains">
    </a>
    <a href="https://www.tabnine.com/now?utm_source=discord&utm_medium=Ins&utm_campaign=PythonDis" target="_blank">
        <img src="{% static "images/events/Tabnine.png" %}" alt="Tabnine">
    </a>
</div>
