<div class="box">
    <p class="menu-label">Previous Code Jams</p>
    <ul class="menu-list">
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams/6" %}">Code Jam 6: Ancient Technology</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams/5" %}">Code Jam 5: Climate Change</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams/4" %}">Code Jam 4: This App Hates You</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams/3" %}">Code Jam 3: Games!</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams/2" %}">Code Jam 2: Mythology API</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams/1" %}">Code Jam 1: Snake Bot</a></li>
    </ul>
</div>
