<div class="box">
    <p class="menu-label">Useful information for code jam participants</p>
    <ul class="menu-list">
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams/using-git" %}">How to use git</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams/judging" %}">How does judging work?</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams/pull-request" %}">Opening a Pull Request</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams/the-code-style-guide" %}">The Code Style Guide</a></li>
    </ul>
</div>
