<div id="div_{{ field.auto_id }}" class="field is-horizontal{% if field.errors %} is-danger{% endif %}">
  {% if render_labels %}
    <div class="field-label">
      <label class="label {% if field.errors %} is-danger{% endif %}">
        {{ field.label | safe }} {% if field.field.required %}<span class="asterisk has-text-danger">*</span>{% endif %}
      </label>

      {% if field.help_text %}
        <p id="hint_{{ field.auto_id }}" class="help has-text-grey">
          {{ field.help_text|safe }}
        </p>
      {% endif %}
    </div>
  {% endif %}

  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="switch is-rounded{% if field.errors %} is-danger{% endif %}"
               type="checkbox"
               id="{{ field.auto_id }}"
               name="{{ field.name }}"
               {% if field.value %}checked="checked"{% endif %}

               {% if field.required %}required{% endif %}
               {% if field.max_length %}maxlength="{{ field.max_length }}"{% endif %}
               {% if field.min_length %}minlength="{{ field.min_length }}"{% endif %}
               {% if field.empty_value %}placeholder="{{ field.empty_value }}"{% endif %}
        />

        <label for="{{ field.auto_id }}" class="label {% if field.errors %} is-danger{% endif %}">
          {% if not render_labels %}
            {{ field.label | safe }} {% if field.field.required %}<span class="asterisk has-text-danger">*</span>{% endif %}
          {% else %}
            &nbsp;
          {% endif %}
        </label>
      </div>

    {% if field.errors %}
      <p class="help is-danger">
        {% for error in field.errors %}
          <span id="error_{{ forloop.counter }}_{{ field.auto_id }}">{{ error }}</span><br />
        {% endfor %}
      </p>
    {% endif %}
    </div>
  </div>
</div>
