<div id="div_{{ field.auto_id }}" class="field is-horizontal{% if field.errors %} is-danger{% endif %}">
  {% if render_labels and not is_markitup %}
    <div class="field-label">
      {% if field.label %}
        <label for="{{ field.auto_id }}" class="label {% if field.errors %} is-danger{% endif %}">
          {{ field.label | safe }} {% if field.field.required %}<span class="asterisk has-text-danger">*</span>{% endif %}
        </label>
      {% endif %}

      {% if field.help_text %}
        <p id="hint_{{ field.auto_id }}" class="help has-text-grey">
          {{ field.help_text|safe }}
        </p>
      {% endif %}
    </div>
  {% endif %}

  <div class="field-body"{% if is_markitup %} style="display: block; width: 100%;"{% endif %}>
    <div class="field">
      <div class="control">
        {% if is_markitup %}
          <textarea class="simple-mde textarea is-family-monospace{% if field.errors %} is-danger{% endif %}"
                    id="{{ field.auto_id }}"
                    name="{{ field.name }}"

                    {% if field.required %}required{% endif %}
                    {% if field.max_length %}maxlength="{{ field.max_length }}"{% endif %}
                    {% if field.min_length %}minlength="{{ field.min_length }}"{% endif %}
                    {% if field.field.widget.attrs.placeholder %}placeholder="{{ field.field.widget.attrs.placeholderplaceholder }}"{% endif %}
                    {% if field.empty_value %}placeholder="{{ field.empty_value }}"{% endif %}
          >{% if field.value %}{{ field.value }}{% endif %}</textarea>
        {% else %}
          <input class="input{% if field.errors %} is-danger{% endif %}"
                 type="text"
                 id="{{ field.auto_id }}"
                 name="{{ field.name }}"

                 {% if field.required %}required{% endif %}
                 {% if field.max_length %}maxlength="{{ field.max_length }}"{% endif %}
                 {% if field.min_length %}minlength="{{ field.min_length }}"{% endif %}
                 {% if field.field.widget.attrs.placeholder %}placeholder="{{ field.field.widget.attrs.placeholder }}"{% endif %}
                 {% if field.empty_value %}placeholder="{{ field.empty_value }}"{% endif %}
                 {% if field.value %}value="{{ field.value }}"{% endif %}
          />
        {% endif %}
      </div>

    {% if field.errors %}
      <p class="help is-danger">
        {% for error in field.errors %}
          <span id="error_{{ forloop.counter }}_{{ field.auto_id }}">{{ error }}</span><br />
        {% endfor %}
      </p>
    {% endif %}
    </div>
  </div>
</div>
