# Infractions API
pydis_site/apps/api/models/bot/infraction.py    @MarkKoz
pydis_site/apps/api/viewsets/bot/infraction.py  @MarkKoz

# Home app
pydis_site/apps/home/**                         @ks129

# Django ORM
**/migrations/**                                @Akarys42
**/models/**                                    @Akarys42 @Den4200

# CI & Docker
.github/workflows/**                            @MarkKoz @Akarys42 @SebastiaanZ @Den4200 @ks129
Dockerfile                                      @MarkKoz @Akarys42 @Den4200
docker-compose.yml                              @MarkKoz @Akarys42 @Den4200

# Tools
Pipfile*                                        @Akarys42

# Metricity
pydis_site/apps/api/models/bot/metricity.py     @jb3
