{% extends "events/base_sidebar.html" %}

{% load static %}

{% block title %}Code Jam 2023{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url "events:index" %}">Events</a></li>
    <li><a href="{% url "events:page" path="code-jams" %}">Code Jams</a></li>
    <li class="is-active"><a href="#">Code Jam 2023</a></li>
{% endblock %}

{% block event_content %}
    <p>Once a year we host a code jam for members of our server to participate in. The code jam is an event where we place you
        in a team with 5 other random server members. You then have 11 days to code some sort of application or program in Python.
        Your program must use the specified technology/framework and incorporate the theme chosen by the server.
    </p>
    <p>
        After the 11 days are complete, your team has 4 days to finish documentation and create a video presentation showcasing
        and walking through the program that your team has created. More details and specifics of this will be released within the next 2 weeks.
    </p>

    <h3 id="winners"><a href="#winners">Code Jam Winners</a></h3>
        <p>Congratulations to our winners and the two runner ups! Check out their projects below.</p>

        <h4 class="mt-5 mb-2"><i class="fa fa-trophy"></i> Dynamic Typists: next level CAPTCHA</h4>
        <p class="my-1"><em>tfblunt, the_outlaw_josey_wales, istalantar, maxyodedara5, ooliver</em></p>
        <p class="my-1">
            Taking captchas to the next level in an effort to foil some of the new AIs. The captchas are image based with a twist.
        </p>
        <p>
            <a href="https://github.com/thijsfranck/the-dynamic-typists" title="The Dynamic Typists GitHub Repository" target="_blank" rel="noopener"><i class="fab fa-github"></i> GitHub Repository</a>
            <br/>

        </p>

        <h4 class="mt-5 mb-2"><i class="fa fa-medal"></i> Magic Methods: Code Stego</h4>
        <p class="my-1"><em>moltensteel, _h_s_p_, ilovetensor, fusionx96, koushireo</em></p>
        <p class="my-1">
            Given a snippet of code, create an image of the code to easily share and also embed the code into the image of the code itself.
        </p>
        <p>
            <a href="https://github.com/StoneSteel27/The-Magic-Methods" title="The Magic Methods GitHub Repository" target="_blank" rel="noopener"><i class="fab fa-github"></i> GitHub Repository</a>
            <br/>
        </p>

        <h4 class="mt-5 mb-2"><i class="fa fa-medal"></i> Async Aggregators: Digital Shadows</h4>
        <p class="my-1"><em>flowglow, leo.the.lion, dfebs, avongard, chronsfu, _sardines_</em></p>
        <p class="my-1">
            Image manipulation puzzle game. Adjust image manipulation sliders to find secret codes.
        <p>
            <a href="https://github.com/Flow-Glow/Code-Jam-2023-Async-Aggregators" title="The Async Aggregators GitHub Repository" target="_blank" rel="noopener"><i class="fab fa-github"></i> GitHub Repository</a>
            <br/>
        </p>

    <h3 id="submissions"><a href="#submissions">Submissions</a></h3>
    <p>
        By the end of the jam, 17 teams made project submissions. Check them all out here:
        <div class="has-text-centered"><a class="button is-primary" href="submissions">View Submissions</a></div>
    </p>

    <h3 id="important-dates"><a href="#important-dates">Important Dates</a></h3>
    <ul>
        <li>Wednesday, August 16 - The Qualifier is released</li>
        <li>Wednesday, August 23 - The Qualifier closes</li>
        <li>Wednesday, August 23 - Voting for the theme opens</li>
        <li>Thursday, August 31 - Code Jam Begins</li>
        <li>Sunday, September 10 - Coding portion of the jam ends</li>
        <li>Thursday, September 14 - Code Jam submissions are closed</li>
    </ul>

    <h3 id="qualifier"><a href="#how-to-join">The Qualifier</a></h3>
    <p>
        The qualifier is a coding challenge that you are required to complete before registering for the code jam.
        This is meant as a basic assessment of your skills to ensure you have enough Python knowledge to effectively contribute in a team environment.

        The qualifier will be released on August 16th.
    </p>

    <h3 id="technology"><a href="#technology">Technology</a></h3>
    <p>
        The chosen technology for this year is <strong>Image Processing and Manipulation</strong>.
        Each team must make use of <a href="{% url "events:page" path="code-jams/10/frameworks" %}">the approved frameworks</a> to create an app that strongly incorporates Image Processing and Manipulation.
    </p>

    <h3 id="prizes"><a href="#prizes">Prizes</a></h3>
    <p>
        Our Code Jam Sponsors have provided prizes for the winners of the code jam.
        Also, thanks to our Patreon patrons supporting this server, we are able to send members of the winning teams
        Python Discord t-shirts and possibly other goodies.
    </p>

    <div class="card mb-4">
        <div class="card-content">
            <div class="media">
                <div class="media-left sponsor light-image" style="max-width:150px">
                    <img src="{% static "images/sponsors/jetbrains.png" %}" alt="JetBrains">
                </div>
                <div class="media-left sponsor dark-image" style="max-width:150px">
                    <img src="{% static "images/sponsors_dark/jetbrains.png" %}" alt="JetBrains">
                </div>
                <div class="media-content">
                    <p class="subtitle has-link"><a href="https://www.jetbrains.com/" target="_blank" rel="noopener">JetBrains</a></p>
                    <p class="is-italic">
                        Whatever platform or language you work with, JetBrains has a development tool for you.
                        We help developers work faster by automating common, repetitive tasks to enable them to stay focused on code design and the big picture.
                        We provide tools to explore and familiarize with code bases faster. Our products make it easy for you to take care of quality during all stages of development and spend less time on maintenance tasks.
                    </p>
                    <p><strong>Prizes</strong><br>
                    1-year JetBrain licenses to the members of a winning team.</p>
                </div>
             </div>
        </div>
    </div>

{% endblock %}

{% block sidebar %}

    {% include "events/sidebar/code-jams/10.html" %}

{% endblock %}
