{% extends "events/base_sidebar.html" %}

{% load static %}

{% block title %}Code Jam 2023{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url "events:index" %}">Events</a></li>
    <li><a href="{% url "events:page" path="code-jams" %}">Code Jams</a></li>
    <li><a href="{% url "events:page" path="code-jams/10" %}">Code Jam 2022</a></li>
    <li class="is-active"><a href="#">Submissions</a></li>
{% endblock %}

{% block event_content %}
    <p>
        Below is a list of all projects submitted by the end of Summer Code Jam 2022
    </p>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">The Async Aggregators</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Flow-Glow/Code-Jam-2023-Async-Aggregators" title="The Async Aggregators">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">The Benevolent Dictators</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/ransomw/the-benevolent-dictators" title="The Benevolent Dictators">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">The Dot Operators</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/LukeHankey/the-dot-operators/tree/readme" title="The Dot Operators">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">The Dynamic Typists</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/thijsfranck/the-dynamic-typists" title="The Dynamic Typists">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">The Emerging Exceptions</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/FloncDev/emerging-exceptions" title="The Emerging Exceptions">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">The Expected Indents</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/BUSH222/cj-The-Expected-Indents" title="The Expected Indents">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">The Itinerant Iterators</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/smileyface12349/itinerant-iterators" title="The Itinerant Iterators">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">The Magic Methods</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/StoneSteel27/The-Magic-Methods" title="The Magic Methods">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">The Missing Dependencies</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Bobby-McBobface/the-missing-dependencies" title="The Missing Dependencies">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">The Monkey Patches</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/mache102/cj10-monkey-patches" title="The Monkey Patches">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">The Neverending Loops</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/inkontoasty/the-neverending-loops" title="The Neverending Loops">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">The Pickled Peps</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/A5rocks/code-jam-10" title="The Pickled Peps">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">The Readable Regexes</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Artemis21/pydis-jam23" title="The Readable Regexes">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">The Rubber Duck Debuggers</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/nozwock/code-jam-the-rubber-duck-debuggers" title="The Rubber Duck Debuggers">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">The Thick Wrappers</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/DavidLlanio/cj10_the_thick_wrappers/" title="The Thick Wrappers">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <p class="has-text-centered">The Top Level Walruses</p>
        </div>
        <div class="column is-half">
          <p class="has-text-centered"><a href="https://github.com/lemonyte/the-top-level-walruses" title="The Top Level Walruses">GitHub</a></p>
        </div>
      </div>

      <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <p class="has-text-centered">The Wheels of Cheese</p>
        </div>
        <div class="column is-half">
          <p class="has-text-centered"><a href="https://github.com/kronifer/code-jam-10" title="The Wheels of Cheese">GitHub</a></p>
        </div>
      </div>

{% endblock %}

{% block sidebar %}

    {% include "events/sidebar/code-jams/9.html" %}

{% endblock %}
