[run]
branch = true
source =
    pydis_site
    pydis_site/apps/admin
    pydis_site/apps/api
    pydis_site/apps/home
    pydis_site/apps/staff
    pydis_site/apps/wiki
omit =
    */migrations/*
    */admin.py
    */apps.py
    */urls.py
    pydis_site/apps/api/models/bot/metricity.py
    pydis_site/wsgi.py
    pydis_site/settings.py
    pydis_site/utils/resources.py
    pydis_site/apps/home/views/home.py

[report]
fail_under = 100
