[run]
branch = true
source =
    pysite
    pysite/apps/admin
    pysite/apps/api
    pysite/apps/home
    pysite/apps/wiki
omit =
    */admin.py
    */apps.py
    */urls.py
    pysite/wsgi.py
    pysite/settings.py

[report]
fail_under = 100
