[flake8]
ignore=
    P102,B311,W503,E226,S311,
    # Missing Docstrings
    D100,D104,D107,
    # Docstring Whitespace
    D203,D212,D214,D215,
    # Docstring Quotes
    D301,D302,
    # Docstring Content
    D400,D401,D402,D405,D406,D407,D408,D409,D410,D411,D412,D413, D414

per-file-ignores =
    **/tests/**:D101,D102,D103,D105,D106,S106

application_import_names=pydis_site
exclude=__pycache__, venv, .venv, **/migrations
import-order-style=pycharm
max-line-length=100
