# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# Unit test / coverage reports
*.lcov
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
pydis_site-*.tar

# Ignore assets that are produced by build tools.
/priv/static/assets/

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log
/assets/node_modules/

# Ignore custom local environment variables.
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mypy
.mypy_cache/

# PyCharm
.idea/

# VSCode
.vscode/

# RethinkDB data
rethinkdb_data/

# Vagrant
.vagrant/

# SASS cache
.sass-cache/

# Node modules
node_modules/

# User configuration
docker-compose.override.yml

pip-wheel-metadata/
staticfiles/

!docker/wheels

*.js.tmp
log.*

# Local Netlify folder
.netlify

# Mac/OSX
.DS_Store

# Private keys
*.pem
