[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.1"
django-hosts = "==3.0"
django-environ = "==0.4.5"
"psycopg2-binary" = "==2.7.5"
djangorestframework = "==3.8.2"
djangorestframework-bulk = "==0.2.1"
gunicorn = "==19.9.0"

[dev-packages]
"flake8" = "==3.5.0"
"flake8-bugbear" = "==18.8.0"
"flake8-bandit" = "==1.0.2"
"flake8-import-order" = "==0.18"
"flake8-tidy-imports" = "==1.1.0"
"flake8-string-format" = "==0.2.3"
coverage = "==4.5.1"
"pep8-naming" = "==0.7.0"
mccabe = "==0.6.1"

[requires]
python_version = "3.7"

[scripts]
build = "docker build -t pythondiscord/site:latest -f docker/Dockerfile ."
buildci = "docker build -t pythondiscord/site-ci:latest -f docker/ci.Dockerfile ."
buildbase = "docker build -t pythondiscord/site-base:latest -f docker/Dockerfile.base ."
buildjs = "gulp"
#buildscss = "python scss.py scss/pysite:scss/pysite/style.scss:static/css/style.css scss/uikit:scss/uikit/uikit_blurple.scss:static/css/uikit_blurple.css"
clean = "rm -rf __pycache__ htmlcov .coverage .pytest_cache"
fixjs = "eslint static/js --fix"
#start = "gunicorn -w 12 -b 0.0.0.0:10012 -c gunicorn_config.py --log-level info -k geventwebsocket.gunicorn.workers.GeventWebSocketWorker app:app"
lint = "python -m flake8"
lintjs = "eslint js/src"
lintscss = "scss-lint scss/pysite"
push = "docker push pythondiscord/site:latest"
pushbase = "docker push pythondiscord/site-base:latest"
pushci = "docker push pythondiscord/site-ci:latest"
#rundev = "python app.py"
#test = "py.test tests --cov pysite --cov-report term-missing -v"
