[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "~=3.7.7"
flake8-bandit = "~=2.1.0"
flake8-bugbear = "~=19.3.0"
flake8-import-order = "~=0.18.1"
flake8-string-format = "~=0.2.3"
flake8-tidy-imports = "~=2.0.0"
mccabe = "~=0.6.1"
pep8-naming = "~=0.8.2"
coverage = "~=4.5.3"
unittest-xml-reporting = "~=2.5.1"

[packages]
django = "~=2.2"
django-crispy-forms = "~=1.7.2"
django-environ = "~=0.4.5"
django-filter = "~=2.1.0"
django-hosts = "~=3.0"
djangorestframework = "~=3.9.2"
djangorestframework-bulk = "~=0.2.1"
psycopg2-binary = "~=2.8"
django-simple-bulma = ">=1.1.6,<2.0"
django-crispy-bulma = ">=0.1.2,<2.0"
requests = "*"

[requires]
python_version = "3.7"
