{% load as_icon %}
{% load get_category_icon %}

<div class="box" style="max-width: 800px;">
    {% if 'title_url' in resource %}
        <a href="{{ resource.title_url }}">
            {% include "resources/resource_box_header.html" %}
        </a>
    {% else %}
        {% include "resources/resource_box_header.html" %}
    {% endif %}

    <p class="is-italic">{{ resource.description|safe }}</p>

    <div class="is-flex is-align-items-center">
        {# Icons #}
        {% for icon in resource.urls %}
            <span class="icon is-size-4 is-medium" style="margin: 5px;">
                <a href="{{ icon.url }}">
                    <i class="{{ icon.icon|as_icon }} is-size-3 resource-icon is-{{ icon.color }}"></i>
                </a>
            </span>
        {% endfor %}
        <div class="is-flex ml-auto is-flex-wrap-wrap is-justify-content-end">
            {% for tag in resource.tags.topics %}
            <span class="tag is-primary is-light ml-2 mt-2"><i class="{{ tag|title|get_category_icon }} mr-1"></i>{{ tag|title }}</span>
            {% endfor %}
            {% for tag in resource.tags.type %}
            <span class="tag has-background-success-light has-text-success-dark ml-2 mt-2"><i class="{{ tag|title|get_category_icon }} mr-1"></i>{{ tag|title }}</span>
            {% endfor %}
            {% for tag in resource.tags.payment_tiers %}
            <span class="tag has-background-danger-light has-text-danger-dark ml-2 mt-2"><i class="{{ tag|title|get_category_icon }} mr-1"></i>{{ tag|title }}</span>
            {% endfor %}
            {% for tag in resource.tags.complexity %}
            <span class="tag has-background-info-light has-text-info-dark ml-2 mt-2"><i class="{{ tag|title|get_category_icon }} mr-1"></i>{{ tag|title }}</span>
            {% endfor %}
        </div>
    </div>
</div>
