{% extends "base/base.html" %}
{% load as_icon %}
{% load static %}

{% block title %}{{ category_info.name }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/resources/resources_list.css" %}">
{% endblock %}

{% block content %}
    {% include "base/navbar.html" %}

    <section class="section breadcrumb-section">
        <div class="container">
            <nav class="breadcrumb is-pulled-left" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url "resources:index" %}">Resources</a></li>
                    <li class="is-active"><a href="#">{{ category_info.name }}</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="content">
                <h1>{{ category_info.name }}</h1>
                <p>{{ category_info.description|safe }}</p>
                <div>
                    {% for resource in resources|dictsort:"position" %}
                        {% include "resources/resource_box.html" %}
                    {% endfor %}

                    {% for subcategory in subcategories|dictsort:"category_info.position" %}
                        <h2 id="{{ subcategory.category_info.raw_name }}">
                            <a href="{% url "resources:resources" type=category_info.raw_name %}#{{ subcategory.category_info.raw_name }}">
                                {{ subcategory.category_info.name }}
                            </a>
                        </h2>
                        <p>{{ subcategory.category_info.description|safe }}</p>

                        {% for resource in subcategory.resources|dictsort:"position" %}
                            {% with category_info=subcategory.category_info %}
                                {% include "resources/resource_box.html" %}
                            {% endwith %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
