{% load as_icon %}

{# Icon section #}
{% if 'icon_image' in resource %}
    {% if 'icon_image_dark' in resource %}
        <img class="light-image" src="{{ resource.icon_image }}" alt="" style="height: {{ resource.icon_size|default:30 }}px;">
        <img class="dark-image" src="{{ resource.icon_image_dark }}" alt="" style="height: {{ resource.icon_size|default:30 }}px;">
    {% else %}
        <img src="{{ resource.icon_image }}" alt="" style="height: {{ resource.icon_size|default:30 }}px;">
    {% endif %}
{% elif 'title_icon' in resource %}
    {% if 'title_icon_dark' in resource %}
        <span class="icon is-size-4 is-medium light-image">
            <i class="{{ resource.title_icon|as_icon }} is-size-3 resource-icon has-icon-padding is-{{ resource.title_icon_color }}"></i>
        </span>
        <span class="icon is-size-4 is-medium dark-image">
            <i class="{{ resource.title_icon_dark|as_icon }} is-size-3 resource-icon has-icon-padding is-{{ resource.title_icon_color }}"></i>
        </span>
    {% else %}
        <span class="icon is-size-4 is-medium">
            <i class="{{ resource.title_icon|as_icon }} is-size-3 resource-icon has-icon-padding is-{{ resource.title_icon_color }}"></i>
        </span>
    {% endif %}
{% elif 'default_icon' in category_info %}
    <span class="icon is-size-4 is-medium">
        <i class="{{ category_info.default_icon|as_icon }} is-size-3 resource-icon has-icon-padding is-{{ category_info.default_icon_color }}"></i>
    </span>
{% endif %}

{# Title section #}
<span class="is-size-4 has-text-weight-bold">
    {% if 'title_image' in resource %}
        {% if 'title_image_dark' in resource %}
            <img class="light-image" src="{{ resource.title_image }}" alt="" style="height: 50px; {{ resource.title_image_style }}">
            <img class="dark-image" src="{{ resource.title_image_dark }}" alt="" style="height: 50px; {{ resource.title_image_style }}">
        {% else %}
            <img src="{{ resource.title_image }}" alt="" style="height: 50px; {{ resource.title_image_style }}">
        {% endif %}
    {% elif 'name' in resource %}
        {{ resource.name }}
    {% endif %}
</span>
