{% extends "events/base_sidebar.html" %}

{% block breadcrumb %}
    <li><a href="{% url "events:index" %}">Events</a></li>
    <li class="is-active"><a href="#">Pixels</a></li>
{% endblock %}

{% block title %}Pixels{% endblock %}

{% block event_content %}
<p>
    The core idea of Pixels is to have a collaborative canvas, where users paint pixel by pixel, by POSTing co-ordinates and a color code to an API.
</p>
<p>
    Our main goal for this event is to focus on it being a learning tool, for users who may not have previous experience with APIs.
</p>
<p>
    With that said however, users of all experience levels are both welcome and encouraged to join in with the event!
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/obC-l9JWx2M?si=rqzzg8F4Y9Acdq8Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

{% endblock %}

{% block sidebar %}
    {% include "events/sidebar/pixels.html" %}
{% endblock %}
