<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <title>Python Discord | {% block title %}{% endblock %}</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- Prevent Flash of Unstyled Content -->
            <script src="{{ static_file('js/fouc.js') }}"></script>

            <!-- Other JS loads -->
<!--            <script defer src="https://pro.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-DtPgXIYsUR6lLmJK14ZNUi11aAoezQtw4ut26Zwy9/6QXHH8W3+gjrRDT+lHiiW4" crossorigin="anonymous"></script>-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit.min.js"></script>

            <!-- Stylesheets -->
            <link rel="shortcut icon" href="{{ static_file('favicon.ico') }}">
            <link rel="stylesheet" href="{{ static_file('uikit_blurple.css') }}"/>
            <link rel="stylesheet" href="{{ static_file('style.css') }}"/>
            <link rel="stylesheet" href="{{ static_file('css/pygments-monokai.css') }}"/>

            <!-- OpenGraph metadata -->
            <meta property="og:title" content="Python Discord | {% block og_title %}{% endblock %}">
            <meta property="og:description" content="{% block og_description %}We're a large, friendly community focused around the Python programming language. Our community is open to those who wish to learn the language, as well as those looking to help others.{% endblock %}">
            <meta content="/static/logos/logo_discord.png" property="og:image">
        {% endblock %}
        {% block extra_head %}

        {% endblock %}
    </head>
    <body class="page-{{ current_page.replace(".", "-") }}">
        {% if current_page == "main.index" %}
        <div class="uk-offcanvas-content uk-section-primary">
        {% else %}
        <div class="uk-offcanvas-content">
        {% endif %}
            {% include "main/navigation.html" %}
            {% block content %}{% endblock %}
        </div>

        <footer>
            <div class="uk-section uk-section-secondary uk-container-medium uk-text-meta">
                <div class="uk-text-center uk-text-meta">
                    <p>
                        This website uses <a href="https://python.org">Python</a> and
                        <a href="http://flask.pocoo.org/">Flask</a>, and was developed collaboratively on
                        <a href="https://github.com/discord-python/site">GitHub</a>.
                        <br />
                        For privacy &amp; GDPR-related info, please <a href="{{ url_for("main.about.privacy") }}">see this page</a>.
                    </p>
                </div>
            </div>
        </footer>

        <script src='{{ static_file('js/countdown.js') }}'></script>
    </body>
</html>
