<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <title>Python Discord | {% block title %}{% endblock %}</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit.min.js"></script>
            <link rel="shortcut icon" href="{{ static_file('favicon.ico') }}">
            <link rel="stylesheet" href="{{ static_file('uikit_blurple.css') }}"/>
            <link rel="stylesheet" href="{{ static_file('style.css') }}"/>

            <!-- OpenGraph metadata -->
            <meta property="og:title" content="Python Discord | {% block og_title %}{% endblock %}">
            <meta property="og:description" content="{% block og_description %}We're a large, friendly community focused around the Python programming language. Our community is open to those who wish to learn the language, as well as those looking to help others.{% endblock %}">
            <meta content="/static/logos/logo_discord.png" property="og:image">
        {% endblock %}
        {% block extra_head %}

        {% endblock %}
    </head>
    <body class="page-{{ current_page }}">
        {% if current_page == "index" %}
        <div class="uk-offcanvas-content uk-section-primary">
        {% else %}
        <div class="uk-offcanvas-content">
        {% endif %}
            {% include "main/navigation.html" %}
            {% if current_page != "index" %}
                {% block beta_error %}
                    <div class="uk-container uk-section" style="padding-top: 10px; padding-bottom: 10px;">
                        <div class="uk-container uk-container-small">
                            <div class="uk-alert-danger" uk-alert>
                                <p>
                                    Please note: this site is under construction. What you see now may be vastly different
                                    from the final project state. Feel free to chat to us on Discord if you're curious!
                                </p>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>

        <footer>
            <div class="uk-section uk-section-secondary uk-container-medium uk-text-meta">
                <div class="uk-text-center">
                    <p>
                        This website uses <a href="https://python.org">Python</a> and
                        <a href="http://flask.pocoo.org/">Flask</a>, and was developed collaboratively on
                        <a href="https://github.com/discord-python/site">GitHub</a>.
                    </p>
                </div>
            </div>
        </footer>

        <script src='{{ static_file('js/countdown.js') }}'></script>
    </body>
</html>
