<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <title>Python Discord | {% block title %}{% endblock %}</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <script src="{{ static_file('js/script.js') }}" type="application/javascript"></script>

            <!-- Stylesheets -->
            <link rel="shortcut icon" href="{{ static_file('favicon.ico') }}">
            <link rel="stylesheet" href="{{ static_file('css/uikit_blurple.css') }}"/>
            <link rel="stylesheet" href="{{ static_file('css/style.css') }}"/>
            <link rel="stylesheet" href="{{ static_file('css/bundled/pygments-monokai.css') }}"/>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

            <!-- OpenGraph metadata -->
            <meta property="og:title" content="Python Discord | {% block og_title %}{% endblock %}">
            <meta property="og:description" content="{% block og_description %}We're a large, friendly community focused around the Python programming language. Our community is open to those who wish to learn the language, as well as those looking to help others.{% endblock %}">
            <meta content="/static/logos/logo_discord.png" property="og:image">
        {% endblock %}
        {% block extra_head %}

        {% endblock %}
    </head>
    <body class="{% block page_classes %}{% endblock page_classes %}
                 page-{{ current_page.replace(".", "-") }}
                 blueprint-{{ blueprint.replace(".", "-") }}">
        {% if current_page == "main.index" %}
        <div class="uk-offcanvas-content uk-section-primary">
        {% else %}
        <div class="uk-offcanvas-content">
        {% endif %}
            {% include "main/navigation.html" %}
            {% block content %}{% endblock %}
        </div>

        <footer>
            <div class="uk-section uk-section-secondary uk-container-medium">
                <div class="footer uk-text-meta">
                    <div class="right-align">
                        This website uses <a href="https://python.org">Python</a> and
                        <a href="http://flask.pocoo.org/">Flask</a>, was developed collaboratively on
                        <a href="https://github.com/python-discord/site">GitHub</a>.
                    </div>
                    <div class="vertical-divider"></div>
                    <div id="linode">
                         &nbsp;Powered by <br> <a href="https://linode.com"><img class="footer-sponsor" src="{{ static_file("images/sponsors/linode_small.png") }}"/></a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
