{% extends "main/base.html" %}
{% block title %}Countdown{% endblock %}
{% block og_title %}Countdown{% endblock %}
{% block og_description %}Countdown for Code Jams.{% endblock %}
{% block beta_error %}{% endblock %}
{% block content %}
<div class="uk-section-primary">




<div class="uk-container uk-align-center">
    <h1 id="countdown-title" class="uk-heading-primary uk-text-center">Code Jam Countdown</h1>
<div class="uk-text-center">
    <h1 id="remaining"></h1>
</div>
</div>
</div>


<script src="/static/js/countdown.js"></script>
{% endblock %}