{% extends "main/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="uk-section uk-section-primary">
    <div class="uk-container uk-text-center">
        <img src="/static/logos/logo_banner.png" style="height: 150px; margin: auto;" />
        <hr class="uk-divider-icon" />
        <p>
            Spicy jalapeno bacon ipsum dolor amet flank elit tri-tip swine reprehenderit tail
            nostrud biltong officia eu. Irure shankle cupidatat shank filet mignon drumstick
            tail dolore jowl flank velit magna. Est hamburger sirloin enim nisi, dolore sint
            sed et adipisicing ut laboris bresaola pig cow. Nisi tongue ex fatback. Culpa
            elit venison exercitation hamburger dolor do andouille consequat meatloaf. Eu
            landjaeger turducken exercitation. Shoulder adipisicing proident cow, short
            loin tail bacon sausage strip steak jerky short ribs tri-tip jowl rump.
        </p>
    </div>
</div>

<div class="uk-container uk-section">
    <div class="uk-alert-danger" uk-alert>
        <p>
            Please note: this site is under construction. What you see now may be vastly different
            from the final project state. Feel free to chat to us on Discord if you're curious!
        </p>
    </div>
</div>
{% endblock %}