<div class="uk-container uk-container-expand uk-background-secondary uk-light" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav data-uk-navbar class="uk-navbar-container uk-navbar-transparent" uk-navbar="boundary-align: true; align: right">
        <div class="uk-navbar-left">
            <a href="/" class="uk-navbar-item uk-logo">
                <img src="/static/logos/logo_banner.png" style="height: 50px;"/>
            </a>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                {% if current_page == "index" %}
                    <li class="uk-active"><a href="/"><i class="uk-icon fas fa-home"></i> &nbsp;Home</a></li>
                {% else %}
                    <li><a href="/"><i class="uk-icon fas fa-home"></i> &nbsp;Home</a></li>
                {% endif %}
                <li><a href="/invite"><i class="uk-icon fab fa-discord"></i> &nbsp;Discord</a></li>
                <li>
                    <a><i class="uk-icon fas fa-chevron-down"></i></a>
                    <div class="uk-navbar-dropdown uk-background-secondary">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            {% if current_page == "help" %}
                                <li class="uk-active"><a href="/help">Getting Help</a></li>
                            {% else %}
                                <li><a href="/help">Getting Help</a></li>
                            {% endif %}
                            <li class="uk-nav-divider"></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>