<div class="uk-container uk-container-expand uk-background-secondary uk-light">
    <nav data-uk-navbar class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-left">
            <a href="/" class="uk-navbar-item uk-logo">
                <img src="/static/logos/logo_banner.png" style="height: 50px;"/>
            </a>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                {% if current_page == "index" %}
                    <li class="uk-active"><a href="/"><i class="uk-icon fas fa-home"></i> &nbsp;Home</a></li>
                {% else %}
                    <li><a href="/"><i class="uk-icon fas fa-home"></i> &nbsp;Home</a></li>
                {% endif %}
                <li><a href="/invite"><i class="uk-icon fab fa-discord"></i> &nbsp;Discord</a></li>
                <li>
                    <a><i class="uk-icon fas fa-chevron-down"></i></a>
                    <div class="uk-navbar-dropdown uk-background-secondary">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">Active</a></li>
                            <li><a href="#">Item</a></li>
                            <li class="uk-nav-header">Header</li>
                            <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#">Item</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>