{% extends "main/base.html" %}
{% block title %}WS Test{% endblock %}
{% block og_title %}WS Test{% endblock %}
{% block og_description %}A test page for our Websockets implementation{% endblock %}
{% block content %}
    <div class="uk-container uk-section">
        <h1>Enter some text to test.</h1>

        <textarea title="RST Input" id="rst"></textarea>
        <input type="button" value="Submit" id="submit-button" />

        <br />

        <div id="output"></div>

        <script type="application/javascript">
            let ws = new WebSocket("wss://api.{{ server_name }}/ws/rst");

            ws.onopen = function(event) {
                console.log("WS opened! Use send() to send a message.");
            };

            ws.onmessage = function (event) {
                document.getElementById("output").innerHTML = event.data;
            };

            function send(text) {
                console.log("-> " + text);
                ws.send(text);
            }

            document.getElementById("submit-button").onclick = function() {
                send(
                    document.getElementById("rst").value
                );
            }
        </script>
    </div>
{% endblock %}
