{% extends "main/base.html" %}
{% block title %}Partners{% endblock %}
{% block og_title %}Partners{% endblock %}
{% block og_description %}List and Links to Partner servers{% endblock %}
{% block content %}
    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <article class="uk-article">
                <h1 class="uk-article-title hover-title" id="top">
                    Partners

                    <a href="#top" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h1>
                <div class="uk-column-1-2@m uk-column-divider">

                    {% if partners is none %}
                    <div class="uk-alert-danger" uk-alert>
                        <p>
                            We were unable to load the <code>partners.json</code> file. If you see this, please
                            notify us!
                        </p>
                    </div>
                    {% else %}
                        <div class="uk-flex-column">
                            {% for partner_name, partner_data in partners.items() %}
                                <div class="uk-flex">
                                    <div class="uk-card uk-card-hover uk-card-default" style="margin-top: 2em">
                                        <div class="uk-card-media-top">
                                            <a href="{{ partner_data['invite'] }}">
                                                <img src="{{ partner_data['banner'] }}" alt="{{ partner_name }}">
                                            </a>
                                        </div>
                                        <div class="uk-card-body">
                                            <p style="text-align:center">
                                                {{ partner_data['description'] }}
                                            </p>
                                        </div>
                                        <div class="uk-card-footer" style="text-align:center">
                                            <a href="{{ partner_data['invite'] }}" class="uk-button uk-button-text">
                                                Join the server
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </article>
        </div>
    </div>
{% endblock %}
