{% extends "main/base.html" %}
{% block title %}Partners{% endblock %}
{% block og_title %}Partners{% endblock %}
{% block og_description %}List and Links to Partner servers{% endblock %}
{% block content %}
    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <article class="uk-article">
                <h1 class="uk-article-title hover-title" id="top">
                    Partners

                    <a href="#top" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h1>
            </article>
        </div>
    </div>
{% endblock %}