{% extends "main/base.html" %}
{% block title %}Privacy{% endblock %}
{% block og_title %}Privacy{% endblock %}
{% block og_description %}Our privacy policy, and compliance information{% endblock %}
{% block content %}
    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <article class="uk-article">
                <h1 class="uk-article-title hover-title" id="top">
                    Privacy

                    <a href="#top" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h1>
                <p class="uk-article-meta">
                    Stay safe out there
                </p>

                <p>
                    We take every step to ensure that your data is used ethically, and that includes making sure that
                    you know exactly what we collect, and what we do with your data. That means that instead of a
                    bunch of legal mumbo-jumbo, we've provided this information in an easy, human-readable form below.
                </p>

                <h1 class="uk-article-title hover-title" id="top">
                    What We Collect

                    <a href="#top" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h1>
                <p class="uk-article-meta">
                    Cherry-picking from the firehose of data
                </p>
                <p>
                    During your time on the discord server, we collect...

                    <ul>
                        <li>Your user ID</li>
                        <li>Your Discord username and discriminator</li>
                        <li>The list of roles you're assigned on Discord</li>
                        <li>Any messages you send on the server (temporarily)</li>
                    </ul>
                </p>
                <p>
                    Should you click the login button on the site, we additionally collect...

                    <ul>
                        <li>Your email address, supplied by Discord</li>
                        <li>An access token and refresh token</li>
                    </ul>
                </p>

            </article>
        </div>
    </div>
{% endblock %}
