{% extends "main/base.html" %}
{% block title %}Rules{% endblock %}
{% block og_title %}Rules{% endblock %}
{% block og_description %}The server rules, along with an explanation of what happens when they're broken{% endblock %}
{% block content %}
    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <article class="uk-article">
                <h1 class="uk-article-title hover-title" id="top">
                    Rules

                    <a href="#top" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h1>
                <p class="uk-article-meta">
                    Keeping our noses clean since 2017
                </p>
                <p>
                    We have a small but strict set of rules on our server. Please read over them and take them on board -
                    if you don't understand anything or need some clarification, feel free to ask any staff member!
                </p>
                <ol>
                    <li>
                        Be polite, and do not spam
                    </li>
                    <li>
                        Follow the <a href="https://discordapp.com/guidelines">Discord community guidelines</a>
                    </li>
                    <li>
                        Don't intentionally make other people uncomfortable - if someone asks you to stop discussing
                        something, you should stop
                    </li>
                    <li>
                        Be patient both with users asking questions, and the users answering them
                    </li>
                    <li>
                        We will not help you with anything that might break a law or the terms of service of any other
                        community, site, service, or otherwise - No piracy, brute-forcing, captcha circumvention,
                        sneaker bots, or anything else of that nature
                    </li>
                    <li>
                        Listen to and respect the staff members - we're here to help, but we're all human beings
                    </li>
                    <li>
                        All discussion should be kept within the relevant channels for the subject - See the
                        <a href="{{ url_for("main.about.channels") }}">channels page</a> for more information
                    </li>
                    <li>
                        This is an English-speaking server, so please speak English to the best of your ability -
                        <a href="https://translate.google.com">Google Translate</a> should be fine if you're not sure
                    </li>
                    <li>
                        Keep all discussions safe for work - No gore, nudity, sexual soliciting, references to suicide,
                        or anything else of that nature
                    </li>
                    <li>
                        We do not allow advertisements for communities (including other Discord servers) or commercial
                        projects - Contact us directly if you want to discuss a partnership!
                    </li>
                </ol>

                <h1 class="uk-article-title hover-title" id="nickname-policy">
                    Nickname Policy

                    <a href="#nickname-policy" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h1>
                <p class="uk-article-meta">
                    Keep It Simple, Stupid
                </p>
                <p>
                    In order to keep things pleasant and workable for both users and staff members, we enforce the
                    following requirements regarding your nickname.
                </p>
                <ol>
                    <li>No blank or "invisible" names</li>
                    <li>No slurs or other offensive sentiments</li>
                    <li>No noisy unicode characters - for example, z̯̯͡a̧͎̺̻̝͕̠l̡͓̫̣g̹̲o̡̼̘  or byte order marks</li>
                    <li>No nicknames designed to annoy other users</li>
                    <li>Make sure the nickname is easy to mention using a keyboard that can only type ASCII characters</li>
                </ol>
                <p>
                    Staff reserves the right to change the nickname of any user for any reason. Failure to comply with these
                    requirements may result in you losing the right to change your nickname. We also reserve the right to
                    discipline users with offensive usernames, regardless of the nickname they're using.
                </p>

                <h1 class="uk-article-title hover-title" id="infractions">
                    Infractions

                    <a href="#infractions" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h1>
                <p class="uk-article-meta">
                    Why you gotta be so rude?
                </p>
                <p>
                    We have a generally no-nonsense policy when it comes to our rules. If you notice someone breaking
                    them, feel free to mention or DM a staff member and we'll try to deal with it as soon as possible.
                </p>
                <p>
                    The possible actions we take based on infractions can include the following:
                </p>
                <ul>
                    <li>A public verbal or textual warning</li>
                    <li>Forced nick changes, where appropriate</li>
                    <li>A short temporary mute</li>
                    <li>A long temporary mute</li>
                    <li>A kick from the server</li>
                    <li>A temporary ban from the server</li>
                    <li>A permanent ban from the server</li>
                </ul>
                <p>
                    While we do discuss more serious matters internally before handing out a punishment, simpler
                    infractions are dealt with directly by individual staffers and the punishment they hand out is left
                    to their own discretion.
                </p>
                <p>
                    If you receive an infraction and would like to appeal it, send an e-mail to
                    <a href="mailto:appeals@pythondiscord.com">appeals@pythondiscord.com</a>.
                </p>
            </article>
        </div>
    </div>
{% endblock %}
