html {
    overflow: auto;
}

body.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main.site-content {
    flex: 1;
}

.card.has-equal-height {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-item.is-fullsize {
    padding: 0;
}

.navbar-item.is-fullsize img {
    max-height: 4.75rem;
}

.navbar-item.has-no-highlight:hover {
    background-color: transparent;
}

.navbar-link:not(.is-arrowless) {
    padding-left: 2rem;
    padding-right: 3.5em;
}

.navbar-link:not(.is-arrowless)::after {
    right: 2em;
    margin-top: -0.42em;
}

/* Dropdown nav needs to be viewable at edge of canvas */
@media screen and (min-width: 1024px) {
    .navbar-dropdown {
        left: unset;
        right: 0;
    }
}

#navbar-banner {
    background-color: transparent;
}

#navbar-banner img {
    max-height: 3rem;
}

#django-logo {
    padding-bottom: 2px;
    background: url(https://static.djangoproject.com/img/logos/django-logo-negative.png) no-repeat center;
    filter: grayscale(1) invert(0.02);
    background-size: 52px 25.5px;
    background-position: -1px -2px;
    color: #00000000;
}

#bulma-logo {
    padding-left: 18px;
    height: 20px;
    background: url(https://bulma.io/images/bulma-logo-white.png) no-repeat center;
    background-size: 60px;
    color: #00000000;
}

#pydis-text {
    font-weight: bold;
}


/* Navbar "more" menu should be on top of messages. I could not figure
 * out a better way to fix this one without just applying a high z-index
 * to everything - anyone have any better ideas? Does it matter since the
 * navbar should be above everything anyway?
 */

.navbar, .navbar * {
    z-index: 1001;
}

/* Fix for logout form submit button in navbar */

button.is-size-navbar-menu, a.is-size-navbar-menu {
    font-size: 14px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media screen and (min-width: 1088px) {
    button.is-size-navbar-menu, a.is-size-navbar-menu {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* Fix for modals being behind the navbar */

.modal * {
    z-index: 1020;
}

.modal-background {
    z-index: 1010;
}

/* Wiki style tweaks */
.codehilite-wrap {
    margin-bottom: 1em;
}

/* 16:9 aspect ratio fixing */
.force-aspect-container {
    position: relative;
    padding-bottom: 56.25%;
}

.force-aspect-content {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
