html {
    overflow: auto;
}

body.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main.site-content {
    flex: 1;
}

.card.has-equal-height {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding-right: 0.8em;
}

.navbar-item .navbar-link {
    padding-left: 1.5em;
    padding-right: 2.5em;
}

.navbar-link:not(.is-arrowless)::after {
    right: 1.125em;
    margin-top: -0.455em;
}

.navbar-item.has-no-highlight:hover {
    background-color: transparent;
}

#navbar-banner {
    background-color: transparent;
}

#navbar-banner img {
    max-height: 3rem;
}

#discord-btn a {
    color: transparent;
    background-image: url(../../images/navbar/discord.svg);
    background-size: 200%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: #697ec4ff;
    margin-left: 0.5rem;
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
}

#discord-btn:hover a {
    box-shadow: 0 1px 4px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);
    /*transform: scale(1.03) translate3d(0,0,0);*/
    background-size: 200%;
    background-position: 1% 50%;
}

#discord-btn:hover {
    background-color: transparent;
}

#django-logo {
    padding-bottom: 2px;
    background: url(https://static.djangoproject.com/img/logos/django-logo-negative.png) no-repeat center;
    filter: grayscale(1) invert(0.02);
    background-size: 52px 25.5px;
    background-position: -1px -2px;
    color: #00000000;
}

#bulma-logo {
    padding-left: 18px;
    height: 20px;
    background: url(https://bulma.io/images/bulma-logo-white.png) no-repeat center;
    background-size: 60px;
    color: #00000000;
}

#pydis-text {
    font-weight: bold;
}


/* Navbar "more" menu should be on top of messages. I could not figure
 * out a better way to fix this one without just applying a high z-index
 * to everything - anyone have any better ideas? Does it matter since the
 * navbar should be above everything anyway?
 */

.navbar, .navbar * {
    z-index: 1001;
}

/* Fix for logout form submit button in navbar */

button.is-size-navbar-menu, a.is-size-navbar-menu {
    font-size: 14px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media screen and (min-width: 1088px) {
    button.is-size-navbar-menu, a.is-size-navbar-menu {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* Fix for modals being behind the navbar */

.modal * {
    z-index: 1020;
}

.modal-background {
    z-index: 1010;
}

/* Wiki style tweaks */
.codehilite-wrap {
    margin-bottom: 1em;
}

/* 16:9 aspect ratio fixing */
.force-aspect-container {
    position: relative;
    padding-bottom: 56.25%;
}

.force-aspect-content {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
