/*
  Page-specific styling for all error pages
*/
$closeButton: #FF5F4F;
$minimizeButton: #F9C206;
$maximizeButton: #19CC32;
$muted: #e8e8e8;
$windowBorder: #C1C2C2;
$topGrad1: #F1F1F1;
$topGrad2: #E9E9E9;
$topGrad3: #d8d8d8;
$topBottomBorder: #BDBCC1;

@import "../mixins";

$page_classes: (
  blueprint-error,  // All error pages
);

@each $class in $page_classes {
  .#{$class} {
    .window {
      @include border-radius(4px);
      @include box-shadow(0, 4px, rgba(0, 0, 0, .5), 12px);

      border: 1px solid $windowBorder;
      height: 500px;
      margin: 20px auto auto;
      width: 100%;
    }

    .inside {
      background: black;
      height: 100%;
      padding-right: 20px;

    }


    .block {
      background: black;
      width: 100%;
    }

    .top, .panel {
      float: left;
    }


    .top {
      @include linear-gradient-background($topGrad1, $topGrad2, $topGrad3);
      @include inset-box-shadow(0px, 1px, rgba(255, 255, 255, 0.76), 1px, 0px);

      border-bottom: 2px solid $topBottomBorder;
      overflow: hidden;
      padding: 7px 0;
      position: relative;
      width: 100%;
    }

    .panel {
      padding-left: 9px;
      padding-top: 2px;
    }


    // Window buttons


    #terminal-close, #second-button, #third-button {
      @include border-radius(6px);

      cursor: pointer;
      display: inline-block;
      float: left;
      height: 12px;
      margin-right: 7px;
      width: 12px;
    }


    #terminal-close {
      background: $closeButton;
    }

    #second-button {
      background: $minimizeButton;
    }

    #third-button {
      background: $maximizeButton;
    }

    #terminal {
      height: 100%;
      width: 100%;
    }

    pre {
      border: 0;
      border-radius: 3px;
    }

    .uk-background-muted, .error-header {
      background-color: $muted !important;
    }

    code, pre {
      overflow-wrap: break-word;
      width: 100%;
      word-wrap: break-word;
    }

    #terminal {
      background-color: black;
      color: white;
    }
  }
}
