html.clean_logs {

  background-color: #18191d;

  .nick {
    color: #9298ff;
    font-weight: 700;
  }

  .time {
    color: #75797f;
    font-size:11px;
    front-weight: normal;
    margin-left: 00.8em;
  }

  .text {
    color: #FFFFFF;
    margin-bottom: 1em;
  }
}
