html.clean_logs {

  background-color: #18191d;

  span.nick {
    color: #9298ff;
    font-weight:700;
  }

  span.time {
    color: #75797f;
    font-size:11px;
    front-weight:normal;
    margin-left:0.8em;
  }

  span.text {
    color: white;
    margin-bottom:1em;
  }
}