#wikiNavbar {
    min-height: 3rem;
    z-index: 1;
}

#wikiNavbar .container {
    min-height: 3rem;
}

#wikiNavbar .navbar-brand {
    min-height: 3rem;
}

.breadcrumb-section {
    padding: 1rem;
}

div.control.is-fullwidth {
    width: 100%;
}

ul.pagination-list {
    list-style: none;
    margin: 0;
}

ul.pagination-list li + li {
    margin: 0;
}

.pagination {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* FA icons used in wiki articles */
i.is-orangered {
    color:#FE640A;
}

i.is-blurple {
    color:#7289DA;
}

i.has-icon-padding {
    padding: 0 10px 25px 0;
}
