html {
    background-color: #7289DA;
}

.overview > h1 {
    margin-top: 0.5em;
    margin-bottom: -0.25em;
}

.overview > p.is-size-7 {
    margin-bottom: 2em;
}

.overview > p.is-size-4 {
    margin-bottom: 1em;
}

.overview > p.is-size-6 {
    margin-bottom: 1em;
}

.overview > img {
    border: 1px solid #6378BF;
    margin-bottom: 1em;
}

.overview > .divider {
    letter-spacing: -3px;
    margin-bottom: 1em;
}
