.breadcrumb-section {
    padding: 1rem;
}

pre {
    /*
     * Style it the same as the <code> tag, since highlight.js does not style
     * backgrounds of <pre> tags but bulma does, resulting in a weird off-white
     * border.
     */
    background-color: #282c34;
}

.panel .panel-heading {
  /*
   * Remove whitespace between the panel heading and the first item in a panel,
   * since it makes the first panel item taller than the others.
   */
  margin-bottom: 0 !important
}
