{% extends 'base/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/home/index.css" %}">
{% endblock %}

{% block content %}
  {% include "base/navbar.html" %}

  <!-- Mobile-only Notice -->
  <section id="mobile-notice" class="message is-primary is-hidden-tablet">
    <div class="message-header">
      <p>100K Member Milestone!</p>
    </div>
    <div class="message-body">
      Thanks to all our members for helping us create this friendly and helpful community!
      <br><br>
      As a nice treat, we've created a <a href="{% url 'timeline' %}">Timeline page</a> for people
      to discover the events that made our community what it is today. Be sure to check it out!
    </div>
  </section>

  <!-- Wave Hero -->
  <section id="wave-hero" class="section is-hidden-mobile">

      <div class="container">
        <div class="columns is-variable is-8">

          {# Embedded Welcome video #}
          <div id="wave-hero-left" class="column is-half">
            <div class="force-aspect-container">
              <iframe
              class="force-aspect-content"
              src="https://www.youtube.com/embed/ZH26PuX3re0"
              srcdoc="
              <style>
                *{padding:0;margin:0;overflow:hidden}
                html,body{height:100%}
                img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}
                span{height:1.5em;text-align:center;font:68px/1.5 sans-serif;color:#FFFFFFEE;text-shadow:0 0 0.1em #00000020}
              </style>
              <a href=https://www.youtube.com/embed/ZH26PuX3re0?autoplay=1>
                <img src='{% static "images/frontpage/welcome.jpg" %}' alt='Welcome to Python Discord'>
                <span>▶</span>
              </a>"
              allow="autoplay; accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              ></iframe>
            </div>
          </div>

          {# Right side content #}
          <div id="wave-hero-right" class="column is-half">
            <img src="{% static "images/events/100k.png" %}" alt="100K members!">
          </div>

        </div>
      </div>

    {# Animated wave elements #}
    <span id="front-wave" class="wave"></span>
    <span id="back-wave" class="wave"></span>
    <span id="bottom-wave" class="wave"></span>

  </section>

  <!-- Main Body -->
  <section id="body" class="section">

    <div class="container">
      <h1 class="is-size-1">Who are we?</h1>

      <div class="columns is-desktop">
        <div class="column is-half-desktop content">
          <p>
            We're a large community focused around the Python programming language.
            We believe anyone can learn to code, and are very dedicated to helping
            novice developers take their first steps into the world of programming. We also
            attract a lot of expert developers who are seeking friendships, collaborators,
            and who wish to hone their craft by teaching and getting involved in the community.
          </p>
          <p>
            We organise regular community events such as code jams, open-source hackathons,
            seasonal events, and community challenges. Through our sponsorships and donations,
            many of our events even have prizes to win!
          </p>
          <p>
            You can find help with most Python-related problems in one of our help channels.
            Our staff of over 50 dedicated expert Helpers are available around the clock
            in every timezone. Whether you're looking to learn the language or working on a
            complex project, we've got someone who can help you if you get stuck.
          </p>
        </div>

        {# Showcase box #}
        <section id="showcase" class="column is-half-desktop has-text-centered">
          <article class="box">

            <header class="title">New Timeline!</header>

            <div class="mini-timeline">
              <i class="fa fa-asterisk"></i>
              <i class="fa fa-code"></i>
              <i class="fab fa-python"></i>
              <i class="fa fa-alien-monster"></i>
              <i class="fa fa-duck"></i>
              <i class="fa fa-bug"></i>
            </div>

            <p class="subtitle">
              Start from our humble beginnings to discover the events that made our community what it is today.
            </p>

            <div class="buttons are-large is-centered">
              <a href="{% url 'timeline' %}" class="button is-primary">
                <span>Check it out!</span>
                <span class="icon">
                  <i class="fas fa-arrow-right"></i>
                </span>
              </a>
            </div>

          </article>
        </section>

      </div>
    </div>
  </section>

  <!-- Projects -->
  {%  if repo_data %}
    <section id="projects" class="section">
      <div class="container">
        <h1 class="is-size-1">Projects</h1>

        <div class="columns is-multiline is-tablet">

          {# Generate project data from HomeView.repos #}
          {% for repo in repo_data %}
            <div class="column is-one-third-desktop is-half-tablet">

              <a href="https://github.com/{{ repo.repo_name }}">
                <article class="card">

                  <header class="card-header">
                    <span class="card-header-icon">
                      <span class="icon"><i class="fab fa-github"></i></span>
                    </span>
                    <div class="card-header-title">
                      {{ repo.repo_name|cut:"python-discord/" }}
                    </div>
                  </header>

                  <p class="card-content">
                    {{ repo.description }}
                  </p>

                  <footer class="card-footer">
                    <div class="card-footer-item">
                      <i class="repo-language-dot {{ repo.language | lower }}"></i>
                      {{ repo.language }}
                    </div>
                    <div class="card-footer-item">
                      <i class="fas fa-star"></i>
                      {{ repo.stargazers }}
                    </div>
                    <div class="card-footer-item">
                      <i class="fas fa-code-branch"></i>
                      {{ repo.forks }}
                    </div>
                  </footer>

                </article>
              </a>

            </div>
          {% endfor %}

        </div>

      </div>
    </section>
  {% endif %}

  <!-- Sponsors -->
  <section id="sponsors" class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-6 has-text-grey">
          Sponsors
        </h1>
        <div class="columns is-mobile is-multiline">
          <a href="https://www.linode.com/?r=3bc18ce876ff43ea31f201b91e8e119c9753f085" class="column is-narrow">
            <img src="{% static "images/sponsors/linode.png" %}" alt="Linode"/>
          </a>
          <a href="https://jetbrains.com" class="column is-narrow">
            <img src="{% static "images/sponsors/jetbrains.png" %}" alt="JetBrains"/>
          </a>
          <a href="https://sentry.io" class="column is-narrow">
            <img src="{% static "images/sponsors/sentry.png" %}" alt="Sentry"/>
          </a>
          <a href="https://notion.so" class="column is-narrow">
            <img src="{% static "images/sponsors/notion.png" %}" alt="Notion"/>
          </a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
