{% extends 'base/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/home/index.css" %}">
{% endblock %}

{% block content %}
  {% include "base/navbar.html" %}

  <section class="section">

    <!-- Who are we? -->
    <div class="container is-spaced">
      <h1 class="is-size-1">Who are we?</h1>
      <br>
      <div class="columns">
        <div class="column is-half">
          <p>
            We're a large community focused around the Python programming language.
            We believe anyone can learn programming, and are very dedicated to helping
            novice developers take their first steps into the world of code. We also
            attract a lot of expert developers who are seeking friendships, collaborators,
            or looking to hone their craft by teaching and getting involved in the community.

            <br/><br/>

            We organise regular community events like code jams, open source hackathons,
            seasonal events and community challenges. Through our sponsorships and with
            help from donations, we are even able to award prizes to the winners of our events.

            <br/><br/>

            You can find help with most Python-related problems in one of our help channels.
            Our staff of nearly 50 dedicated expert Helpers are available around the clock
            in every timezone. Whether you're looking to learn the language or working on a
            complex project, we've got someone who can help you if you get stuck.
          </p>
        </div>

        <!-- Intro video -->
        <div class="column is-half video-container">
          <iframe src="https://www.youtube.com/embed/DIBXg8Qh7bA" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </div>
      </div>

      <!-- Projects -->
      <h1 class="is-size-1">Projects</h1>
      <br>
      <div class="columns is-multiline">

        <!-- Site -->
        <div class="column is-one-third">
          <div class="card has-equal-height">
            <div class="card-content">
              <i class="fab fa-github"></i> <a href="pythondiscord.com"> python-discord/site</a>
              <br><br>
              <em>Source code for our website</em>
              <br><br>
              </span><span class="repo-language-dot python"></span> Python
              <span id="repo-footer-item"><i class="fas fa-star"></i> 566</span>
              <span id="repo-footer-item"><i class="fas fa-code-branch"></i> 27</span>
            </div>
          </div>
        </div>

        <!-- Bot -->
        <div class="column is-one-third">
          <div class="card has-equal-height">
            <div class="card-content">
              <i class="fab fa-github"></i> <a href="pythondiscord.com"> python-discord/bot</a>
              <br><br>
              <em>Source code for our Discord bot</em>
              <br><br>
              </span><span class="repo-language-dot python"></span> Python
              <span id="repo-footer-item"><i class="fas fa-star"></i> 566</span>
              <span id="repo-footer-item"><i class="fas fa-code-branch"></i> 27</span>
            </div>
          </div>
        </div>

        <!-- Snekbox -->
        <div class="column is-one-third">
          <div class="card has-equal-height">
            <div class="card-content">
              <i class="fab fa-github"></i> <a href="pythondiscord.com"> python-discord/snekbox</a>
              <br><br>
              <em>Easy, safe evaluation of arbitrary Python code</em>
              <br><br>
              </span><span class="repo-language-dot python"></span> Python
              <span id="repo-footer-item"><i class="fas fa-star"></i> 566</span>
              <span id="repo-footer-item"><i class="fas fa-code-branch"></i> 27</span>
            </div>
          </div>
        </div>

        <!-- SeasonalBot -->
        <div class="column is-one-third">
          <div class="card has-equal-height">
            <div class="card-content">
              <i class="fab fa-github"></i> <a href="pythondiscord.com"> python-discord/seasonalbot</a>
              <br><br>
              <em>A Discord bot that changes with the seasons. Meant as a beginner-friendly learning project.</em>
              <br><br>
              </span><span class="repo-language-dot python"></span> Python
              <span id="repo-footer-item"><i class="fas fa-star"></i> 566</span>
              <span id="repo-footer-item"><i class="fas fa-code-branch"></i> 27</span>
            </div>
          </div>
        </div>

        <!-- django-simple-bulma -->
        <div class="column is-one-third">
          <div class="card has-equal-height">
            <div class="card-content">
              <i class="fab fa-github"></i> <a href="pythondiscord.com"> python-discord/django-simple-bulma</a>
              <br><br>
              <em>Django application to add the Bulma CSS framework and its extensions</em>
              <br><br>
              </span><span class="repo-language-dot css"></span> CSS
              <span id="repo-footer-item"><i class="fas fa-star"></i> 566</span>
              <span id="repo-footer-item"><i class="fas fa-code-branch"></i> 27</span>
            </div>
          </div>
        </div>

        <!-- django-crispy-bulma -->
        <div class="column is-one-third">
          <div class="card has-equal-height">
            <div class="card-content">
              <i class="fab fa-github"></i> <a href="pythondiscord.com"> python-discord/django-crispy-bulma</a>
              <br><br>
              <em>Django application to add 'django-crispy-forms' layout objects for Bulma.io</em>
              <br><br>
              </span><span class="repo-language-dot html"></span> HTML
              <span id="repo-footer-item"><i class="fas fa-star"></i> 566</span>
              <span id="repo-footer-item"><i class="fas fa-code-branch"></i> 27</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Sponsors -->
  <section class="section-sp hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-6 has-text-grey">
          Sponsors
        </h1>
        <a href="https://linode.com"><img src="{% static "images/sponsors/linode.png" %}" alt="Linode"/></a>
        <a href="https://jetbrains.com"><img src="{% static "images/sponsors/jetbrains.png" %}" alt=""/></a>
        <a href="https://adafruit.com"><img src="{% static "images/sponsors/adafruit.png" %}" alt=""/></a>
      </div>
    </div>
  </section>

{% endblock %}
