{% extends 'base/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/home/index.css" %}">
{% endblock %}

{% block content %}
 {% include "base/navbar.html" %}

  <section class="section">
    <div class="container is-spaced">
      <div class="columns">
        <div class="column is-half">
          <p>
            We're a large, friendly community focused around the Python programming
            language, open to those who wish to learn the language or improve their
            skills, as well as those looking to help others.

            <br /><br />

            We organise regular community events and have a dedicated staff of
            talented Python developers available to assist around the clock.

            <br /><br />

            Whether you're looking to learn the language or working on a complex project,
            we've got someone who can help you if you get stuck.
          </p>
        </div>
        <div class="column is-half is-first has-text-centered">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/DIBXg8Qh7bA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="section-sp hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-6 has-text-grey">
          Sponsors
        </h1>
        <img src="{% static "images/sponsors/linode.png" %}" alt="" />
        <img src="{% static "images/sponsors/jetbrains.png" %}" alt="" />
        <img src="{% static "images/sponsors/adafruit.png" %}" alt="" />
      </div>
    </div>
  </section>

  {% include "base/footer.html" %}
{% endblock %}
