{% extends 'base/base.html' %}

{% load account %}
{% load socialaccount %}
{% load static %}

{% block title %}Login{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/home/index.css" %}">
{% endblock %}

{% block content %}
  {% include "base/navbar.html" %}

  {# Sponsors #}
  <section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-full-mobile is-full-tablet is-half-desktop">
        {% get_providers as socialaccount_providers %}

        <h1 class="title has-text-centered">Login with Discord</h1>

        <form method="post">
          {% csrf_token %}

          <div class="card field is-horizontal">
            <input class="is-checkradio is-circle is-dark" type="checkbox" id="consent" name="consent" />
            <label for="consent">
              I consent to Python Discord using my Discord email address to identify my account
            </label>
          </div>

          <div class="field is-grouped-centered has-text-centered">
            <button class="button is-large is-primary" type="submit">
              <span class="icon">
                <i class="fab fa-discord"></i>
              </span>
              <span>
                Login
              </span>
            </button>
          </div>
        </form>

{#        {% for provider in socialaccount_providers %}#}
{#          {% if provider.id == "discord" %}#}
{#              <a class="navbar-item"#}
{#                 href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}"#}
{#              >Login with {{ provider.name }}</a>#}
{#          {% endif %}#}
{#        {% endfor %}#}
      </div>
    </div>
  </div>
  </section>

{% endblock %}
