{% extends "main/base.html" %}
{% block title %}Staff | Home{% endblock %}
{% block og_title %}Staff | Home{% endblock %}
{% block og_description %}Landing page for the staff management area{% endblock %}
{% block content %}
    <div class="uk-container uk-container-small uk-section">
        <h1 class="uk-text-center">
            Management links
        </h1>

        <a class="uk-button uk-button-primary" href="{{ url_for("staff.jams.index") }}">Code Jams</a>
        {% if manager %}
            <a class="uk-button uk-button-primary" href="{{ url_for("staff.tables.index") }}">Table Management</a>
        {% endif %}

        <h1 class="uk-title uk-text-center">
            App config
        </h1>
        <pre>
    {{ app_config | safe }}
        </pre>
    </div>
{% endblock %}