{% extends "main/base.html" %}
{% block title %}Information{% endblock %}
{% block content %}
    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <article class="uk-article">
                <h1 class="uk-article-title" id="top">
                    Information

                    <a href="#top" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h1>
                <p class="uk-article-meta">
                    Learn yourself some Haskell for great- wait, wrong book
                </p>
                <p>

                </p>
            </article>
        </div>
    </div>
{% endblock %}