{% extends "main/base.html" %}
{% block title %}Code Jams{% endblock %}
{% block og_title %}Code Jams{% endblock %}
{% block og_description %}Information about our code jams - monthly events where users are grouped into pairs to solve a Python task{% endblock %}
{% block content %}
    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <article class="uk-article">
                <h1 class="uk-article-title hover-title" id="top">
                    Code Jams

                    <a href="#top" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h1>
                <p class="uk-article-meta">
                    We jammin'
                </p>

                <p>
                    Every month, we aim to host a server-wide code jam, suitable for all members of the server. In
                    these, we announce a theme and date in advance, and users may sign up via a link provided in the
                    announcements channel on the server. Once the sign-up period is over, users are paired off into
                    teams. On the day of the code jam, we announce a task - each team will then work on a solution
                    to this task.
                </p>
                <p>
                    Once the code jam is over, our staff team will review and test each submission. Once that's done,
                    a winner will be decided!
                </p>
                <p>
                    If you'd like to join one of our code jams, feel free to ask a member of staff about the next one.
                </p>

                <h2 class="uk-article-title hover-title" id="top">
                    Rules and Guidelines

                    <a href="#top" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h2>
                <p class="uk-article-meta">
                    Keeping the fight clean
                </p>
                <p>
                    In order to keep things fair and on-topic, the following rules must be adhered to. Failure to
                    follow these rules will result in disqualification.
                </p>
                <ul>
                    <li>
                        Projects must be strongly Python-oriented.
                        <ul>
                            <li>You may mix in other languages, but the project must be Python-based.</li>
                        </ul>
                    </li>
                    <li>You may not write any code in advance.</li>
                    <li>You may not write any code after the deadline.</li>
                    <li>Both team members must contribute to the project in some way.</li>
                    <li>The work must be your own - don't copy another team's work.</li>
                </ul>
                <p>
                    Additionally, the following suggestions could be helpful for all teams.
                </p>
                <ul>
                    <li>Open your pull request early - that way, you know it'll be there by the deadline.</li>
                    <li>Lint your code - we lint each pull request using Flake8, and your code should validate.</li>
                    <li>Communicate with your teammate - Add them as a friend, start a DM, and work together on the problem.</li>
                </ul>

                <h2 class="uk-article-title hover-title" id="top">
                    Getting Started

                    <a href="#top" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h2>
                <p class="uk-article-meta">
                    Git good - Dropbox bad
                </p>
                <p>
                    All of our code jams happen on <a href="http://github.com/">GitHub</a>. If you don't have an
                    account there, you'll need to create one before you can join one of our code jams. Teams are required
                    to fork the repository we have set up for the current code jam, commit their code to their fork, and
                    then open a pull request with their project on the code jam repository.
                </p>
                <p>
                    If you're not familiar with GitHub and Git in general, we're writing a guide just for you!
                </p>
                <p>
                    This page is incomplete - watch this space!
                </p>
            </article>
        </div>
    </div>
{% endblock %}