{% extends "main/base.html" %}
{% block title %}Rules{% endblock %}
{% block content %}
    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <article class="uk-article">
                <h1 class="uk-article-title" id="top">
                    Rules

                    <a href="#top" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h1>
                <p class="uk-article-meta">
                    Keeping our noses clean since 2017
                </p>
                <p>
                    We have a small but strict set of rules on our server. Please read over them and take them on board -
                    if you don't understand anything or need some clarification, feel free to ask any staff member!
                </p>
                <ol>
                    <li>Be polite, and do not spam</li>
                    <li>
                        Keep self-promotion to the "show your projects" channels - please note, we only allow
                        self-promotion for <strong>personal Python projects</strong>
                    </li>
                    <li>Be patient both with users asking questions, and users answering them</li>
                    <li>Listen to and respect the staff members</li>
                    <li>Keep support requests in the relevant channel within the help category</li>
                    <li>
                        This is an English-speaking server. Please speak English to the best of your ability. Google
                        translate is fine if you're not sure.
                    </li>
                    <li>Keep all discussions SFW - No ecchi or NSFW media</li>
                    <li>
                        We do not allow advertisements for communities or commercial projects - Contact us directly if
                        you want to discuss a partnership!
                    </li>
                </ol>
            </article>
        </div>
    </div>
{% endblock %}