{% extends 'main/base.html' %}
{% block title %}Error {{ code }}{% endblock %}
{% block og_title %}Error {{ code }}{% endblock %}
{% block og_description %}{{ error_message | safe }}{% endblock %}
{% block beta_error %}{% endblock %}

{% block extra_head %}
    <script>
        window._RequestMethod = "{{ request.method.lower() }}";
        window._Code = {{ code }};
        window._ErrorMsg = "{{ error_message | safe }}";
        window._Path = "{{ request.path }}";
    </script>

    <script src="{{ static_file('js/typewriter.js') }}" type="application/javascript"></script>
    <script src="{{ static_file('js/500.js') }}" type="application/javascript"></script>
{% endblock %}

{% block content %}
    <div class="uk-background-muted">
        <div class="uk-container">
            <div class="uk-section uk-text-center uk-panel uk-panel-box">
               <p style="color: #e84149; font-family: monospace;" class="error-header uk-text-large uk-text-break">{{ error_title }}</p>
            </div>
        </div>
    </div>

    <div class="uk-visible@s">
        <div class="uk-container uk-section">
            <div class="window" id="win">
                <div class="top">
                    <div class="panel">
                        <span id="terminal-close"></span>
                        <span id="second-button"></span>
                        <span id="third-button"></span>
                    </div>

                </div>

                <div class="inside">
                    <div class="block">
                        <pre id="terminal"><code style="white-space: pre-wrap;" class="python" id="error"></code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-hidden@s uk-container uk-text-center">
        <br />
        <p>{{ error_message | safe }}</p>
    </div>

    <noscript>
        <h1>There was an issue processing your request</h1>
        <p>{{ error_message | safe }}</p>
    </noscript>
{% endblock %}

