/*
  Page-specific styling for the partners page
*/

$page_classes: (
  page-main-about-partners,  // Partners page
);

@each $class in $page_classes {
  .#{$class} {
    div#partner-cards div.uk-card-default {
      margin-top: 2em;
      text-align:center;
    }
  }
}
