{# Base template, with a few basic style definitions. #}
{% load django_simple_bulma %}
{% load sekizai_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="description"
        content="{% block meta-description %}We're a large, friendly community focused around the Python programming language. Our community is open to those who wish to learn the language, as well as those looking to help others.{% endblock %}">

  <title>Python Discord | {% block title %}Website{% endblock %}</title>

  {% bulma %}

  {# Font-awesome here is defined explicitly so that we can have Pro #}
  <script src="https://kit.fontawesome.com/ae6a3152d8.js"></script>

  <link rel="stylesheet" href="{% static "css/base/base.css" %}">
  <link rel="stylesheet" href="{% static "css/base/notification.css" %}">
  {% block head %}{% endblock %}

  {% render_block "css" %}
</head>
<body class="site">

<main class="site-content">
  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div class="notification {% if message.tags %}is-{{ message.tags }}{% endif %}">
          <button class="delete"></button>

          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% block content %}
    {{ block.super }}
  {% endblock %}
</main>

{% block site_footer %}
  {% include "base/footer.html" %}
{% endblock %}

{% render_block "js" %}
</body>
</html>
