{# Base template, with a few basic style definitions. #}
{% load django_simple_bulma %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="description"
        content="{% block meta-description %}We're a large, friendly community focused around the Python programming language. Our community is open to those who wish to learn the language, as well as those looking to help others.{% endblock %}">

  <title>Python Discord | {% block title %}Website{% endblock %}</title>

  {% bulma %}

  {# Font-awesome here is defined explicitly so that we can have Pro #}
  <link rel="stylesheet"
        href="https://pro.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev"
        crossorigin="anonymous"
  >

  {% block head %}{% endblock %}
</head>
<body>
{% include "base/navbar.html" with active_item=True dropdowns=True icon_weight="fal" use_logo=True %}
{% block content %}{% endblock %}

<footer class="footer has-background-dark has-text-light">
  <div class="content has-text-centered">
    <p>
      &copy; 2019 Python Discord | Built with Django and Bulma
    </p>
  </div>
</footer>

</body>
</html>

<!-- vim: set ft=htmldjango: -->
