{% load socialaccount %}
{% load static %}

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a id="navbar-banner" class="navbar-item has-left-margin-1" href="/">
      <img src="{% static "images/navbar/pydis_banner_no_square.svg" %}" alt="Python Discord logo"/>
    </a>

    {# The navbar "burger" which appears when rendered on screens that can't fit the entire nav #}
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar_menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  {# Content on the right side of the navbar #}
  <div class="navbar-menu is-paddingless" id="navbar_menu">
    <div class="navbar-end">

      {# Burger-menu Discord #}
      <a class="navbar-item is-hidden-desktop" href="https://discord.gg/python">
        <span class="icon is-size-4 is-medium"><i class="fab fa-discord"></i></span>
        <span>&nbsp;Discord</span>
      </a>

      {# GitHub #}
      <a class="navbar-item" href="https://github.com/python-discord">
        <span class="icon is-size-4 is-medium"><i class="fab fa-github"></i></span>
        <span>&nbsp;GitHub</span>
      </a>

      {# Reddit #}
      <a class="navbar-item" href="https://reddit.com/r/python">
        <span class="icon is-size-4 is-medium"><i class="fab fa-reddit-alien"></i></span>
        <span>&nbsp;Reddit</span>
      </a>

      {# YouTube #}
      <a class="navbar-item" href="https://youtube.com/pythondiscord">
        <span class="icon is-size-4 is-medium"><i class="fab fa-youtube"></i></span>
        <span>&nbsp;YouTube</span>
      </a>

      {# Patreon #}
      <a class="navbar-item" href="http://patreon.com/python_discord">
        <span class="icon is-size-4 is-medium"><i class="fab fa-patreon"></i></span>
        <span>&nbsp;Patreon</span>
      </a>

      {# Merch #}
      <a class="navbar-item" href="https://www.redbubble.com/people/PythonDiscord/shop">
        <span class="icon is-size-4 is-medium"><i class="fas fa-tshirt"></i></span>
        <span>&nbsp;Merch</span>
      </a>

      {# More #}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{% url 'wiki:get' path="resources/" %}">
            Resources
          </a>
          <a class="navbar-item" href="{% url 'wiki:get' path="resources/tools/" %}">
            Tools
          </a>
          <a class="navbar-item" href="{% url 'wiki:get' path="contributing/" %}">
            Contributing
          </a>
          <a class="navbar-item" href="{% url 'wiki:get' path="frequently-asked-questions/" %}">
            FAQ
          </a>
          <a class="navbar-item" href="{% url 'wiki:get' path="rules/" %}">
            Rules
          </a>
          <a class="navbar-item" href="{% url 'wiki:get' path="code-of-conduct/" %}">
            Code of Conduct
          </a>
          <a class="navbar-item" href="{% url 'wiki:get' path="privacy/" %}">
            Privacy
          </a>
          <hr class="navbar-divider">
          <div class="navbar-item">
            <strong>Events</strong>
          </div>
          <a class="navbar-item" href="{% url 'wiki:get' path="code-jams/code-jam-7/" %}">
            Most Recent: Code Jam 7
          </a>
          <a class="navbar-item" href="{% url 'wiki:get' path="events/" %}">
            All events
          </a>
          <hr class="navbar-divider">

          {% if not user.is_authenticated %}
            {% get_providers as socialaccount_providers %}

            {% for provider in socialaccount_providers %}
              {% if provider.id == "discord" %}
                  <a class="navbar-item"
                     href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}"
                  >Login with {{ provider.name }}</a>
              {% endif %}
            {% endfor %}
          {% else %}
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}

              <div class="field navbar-item is-paddingless is-fullwidth is-grouped">
                <button type="submit" class="button is-white is-inline is-fullwidth has-text-left is-size-navbar-menu has-text-grey-dark">Logout</button>
                <a title="Settings" class="button is-white is-inline has-text-right is-size-navbar-menu has-text-grey-dark modal-button" data-target="account-modal">
                  <span class="is-icon">
                    <i class="fas fa-cog"></i>
                  </span>
                </a>
              </div>
            </form>
          {% endif %}

        </div>
      </div>

      {# Desktop Nav Discord  #}
      <div id="discord-btn" class="buttons is-hidden-touch">
        <a href="https://discord.gg/python" class="button is-large is-primary">Discord</a>
      </div>

    </div>

  </div>
</nav>

{% if user.is_authenticated %}
  <script defer type="text/javascript">
    // Script which loads and sets up the account settings modal.
    // This script must be placed in a template, or rewritten to take the fetch
    // URL as a function argument, in order to be used.

    "use strict";

    // Create and prepend a new div for this modal
    let element = document.createElement("div");
    document.body.prepend(element);

    fetch("{% url "account_settings" %}")   // Fetch the URL
      .then((response) => response.text())  // Read in the data stream as text
      .then((text) => {
        element.outerHTML = text;  // Replace the div's HTML with the loaded modal HTML
        setupModal(document.getElementById("account-modal"));  // Set up the modal
      });
  </script>
{% endif %}
