{% load socialaccount %}
{% load static %}

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a id="navbar-banner" class="navbar-item has-left-margin-1" href="/">
      <img src="{% static "images/navbar/pydis_banner_no_square.svg" %}" alt="Python Discord logo"/>
    </a>

    {# The navbar "burger" which appears when rendered on screens that can't fit the entire nav #}
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar_menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  {# Content on the right side of the navbar #}
  <div class="navbar-menu is-paddingless" id="navbar_menu">
    <div class="navbar-end">

      {# Discord invite - only visible in the hamburger on mobile sizes. #}
      <a class="navbar-item is-hidden-desktop" href="https://discord.gg/python">
        <span class="icon is-size-4 is-medium"><i class="fab fa-discord"></i></span>
        <span>&nbsp;Discord</span>
      </a>

      {# GitHub #}
      <a class="navbar-item" href="https://github.com/python-discord">
        <span class="icon is-size-4 is-medium"><i class="fab fa-github"></i></span>
        <span>&nbsp;GitHub</span>
      </a>

      {# Reddit #}
      <a class="navbar-item" href="https://reddit.com/r/python">
        <span class="icon is-size-4 is-medium"><i class="fab fa-reddit-alien"></i></span>
        <span>&nbsp;Reddit</span>
      </a>

      {# YouTube #}
      <a class="navbar-item" href="https://youtube.com/pythondiscord">
        <span class="icon is-size-4 is-medium"><i class="fab fa-youtube"></i></span>
        <span>&nbsp;YouTube</span>
      </a>

      {# Patreon #}
      <a class="navbar-item" href="http://patreon.com/python_discord">
        <span class="icon is-size-4 is-medium"><i class="fab fa-patreon"></i></span>
        <span>&nbsp;Patreon</span>
      </a>

      {# Merch #}
      <a class="navbar-item" href="https://www.redbubble.com/people/PythonDiscord/shop">
        <span class="icon is-size-4 is-medium"><i class="fas fa-tshirt"></i></span>
        <span>&nbsp;Merch</span>
      </a>

      {# More #}
      <div class="navbar-item has-dropdown is-hoverable has-left-margin-1">
        <a class="navbar-link">
          More
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{% url 'wiki:get' path="resources/" %}">
            Learning Resources
          </a>
          <a class="navbar-item" href="{% url 'wiki:get' path="tools/" %}">
            Tools
          </a>
          <a class="navbar-item" href="{% url 'wiki:get' path="contributing/" %}">
            Contributing
          </a>
          <a class="navbar-item" href="{% url 'wiki:get' path="frequently-asked-questions/" %}">
            FAQ
          </a>
          <a class="navbar-item" href="{% url 'wiki:get' path="rules/" %}">
            Rules
          </a>
          <a class="navbar-item" href="{% url 'wiki:get' path="code-of-conduct/" %}">
            Code of Conduct
          </a>
          <a class="navbar-item" href="{% url 'wiki:get' path="privacy/" %}">
            Privacy
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="{% url 'wiki:get' path="code-jams/" %}">
            Code Jams
          </a>
          <hr class="navbar-divider">

          {% if not user.is_authenticated %}
            {% get_providers as socialaccount_providers %}

            {% for provider in socialaccount_providers %}
              {% if provider.id == "discord" %}
                  <a class="navbar-item"
                     href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}"
                  >Login with {{ provider.name }}</a>
              {% endif %}
            {% endfor %}
          {% else %}
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}

              <div class="field navbar-item is-paddingless is-fullwidth is-grouped">
                <button type="submit" class="button is-white is-inline is-fullwidth has-text-left is-size-navbar-menu has-text-grey-dark">Logout</button>
                <a title="Settings" class="button is-white is-inline has-text-right is-size-navbar-menu has-text-grey-dark" href="#">
                  <span class="is-icon">
                    <i class="fas fa-cog"></i>
                  </span>
                </a>
              </div>
            </form>
          {% endif %}

        </div>
      </div>
    </div>

    {# Join us on Discord! #}
    <a class="navbar-item is-fullsize has-no-highlight has-left-margin-1" href="https://discord.gg/python">
      <img class="is-hidden-touch" src="{% static "images/navbar/navbar_discordjoin.svg" %}" alt="Join us on Discord!"/>
    </a>
  </div>
</nav>
