{% load extra_tags %}
{% comment %}
This template inserts a Bulma paginator wherever one is required. Simply include it as follows:

{% include "base/paginator.html" with page_obj=paginator_object %}
{% endcomment %}

<nav class="pagination" role="navigation" aria-label="pagination">
    {% if page_obj.has_previous %}
        <a class="pagination-previous" href="{% url_extend page=page_obj.previous_page_number %}">Newer</a>
    {% else %}
        <a class="pagination-previous" title="This is the first page" disabled>Newer</a>
    {% endif %}

    {% if page_obj.has_next %}
        <a class="pagination-next" href="{% url_extend page=1 %}">Older</a>
    {% else %}
        <a class="pagination-next" title="This is the last page" disabled>Older</a>
    {% endif %}

    <ul class="pagination-list">
        {% if page_obj.has_previous %}
            <li>
                <a class="pagination-link" aria-label="Goto page 1"
                   href="{% url_extend page=1 %}">
                    1
                </a>
            </li>
            <li>
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
                <a class="pagination-link" aria-label="Goto page {{ page_obj.previous_page_number }}"
                   href="{% url_extend page=page_obj.previous_page_number %}">
                    {{ page_obj.previous_page_number }}
                </a>
            </li>
        {% endif %}

        <li>
            <a class="pagination-link is-current" aria-label="Page {{ page_obj.number }}" aria-current="page"
               href="{% url_extend page=page_obj.number %}">
                {{ page_obj.number }}
            </a>
        </li>

        {% if page_obj.has_next %}
            <li>
                <a class="pagination-link" aria-label="Goto page {{ page_obj.next_page_number }}"
                   href="{% url_extend page=page_obj.next_page_number %}">
                    {{ page_obj.next_page_number }}
                </a>
            </li>
            <li>
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
                <a class="pagination-link" aria-label="Goto page {{ page_obj.paginator.num_pages }}"
                   href="{% url_extend page=page_obj.paginator.num_pages %}">
                    {{ page_obj.paginator.num_pages }}
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
