<div class="box">
    <p class="menu-label">Event Calendar 2021</p>
    <ul class="menu-list">
        <li><a class="has-text-link" href="https://pyweek.org/31/" target="_blank" rel="noopener">March: PyWeek 31</a></li>
        <li><a class="has-text-black" style="cursor: default;">May: Pixels</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams/8" %}">July: Summer Code Jam</a></li>
        <li><a class="has-text-link" href="https://pyweek.org/32/" target="_blank" rel="noopener">September: PyWeek 32</a></li>
        <li><a class="has-text-black" style="cursor: default;">December: Advent of Code</a></li>
    </ul>
</div>
