<div class="box">
    <h4 class="is-title is-6">Recent events (2023)</h4>
    <ul class="menu-list">
        <li><a class="has-text-link" href="https://pyweek.org/35/">March: Pyweek 35</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams/10" %}">August: Code Jam 2023</a></li>
        <li><a class="has-text-link" href="https://pyweek.org/36/">September: PyWeek 36</a></li>
        <li><a class="has-text-link" href="https://adventofcode.com/2023">December: Advent of Code</a></li>
    </ul>
</div>

<div class="box">
    <h4 class="is-title is-6">All events</h4>
    <ul class="menu-list">
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams" %}">Code Jams</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="pyweek" %}">Pyweek</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="pixels" %}">Pixels</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="adventofcode" %}">Advent of Code</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="revivalofcode" %}">Revival of Code</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="game-jams" %}">Game Jams</a></li>
    </ul>
</div>
