<div class="box">
    <h2 class="title is-5">Previous events from 2023</h2>
    <article class="media">
        <figure class="media-left">
            <p class="image is-32x32">
                <img class="is-rounded" src="/static/images/events/icons/pyweek.png">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <h5 class="title is-5"><a href="https://pyweek/35/">PyWeek 35</a></h5>
                <p class="subtitle is-6">March</p>
            </div>
        </div>
    </article>
    <article class="media">
        <figure class="media-left">
            <p class="image is-32x32">
                <img class="is-rounded" src="/static/images/events/icons/codejam.svg">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <h5 class="title is-5"><a href="{% url "events:page" path="code-jams/10" %}">Summer Code Jam 2023</a></h5>
                <p class="subtitle is-6">August</p>
            </div>
        </div>
    </article>
    <article class="media">
        <figure class="media-left">
            <p class="image is-32x32">
                <img class="is-rounded" src="/static/images/events/icons/pyweek.png">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <h5 class="title is-5"><a href="https://pyweek/36/">PyWeek 36</a></h5>
                <p class="subtitle is-6">September</p>
            </div>
        </div>
    </article>
    <article class="media">
        <figure class="media-left">
            <p class="image is-32x32">
                <img class="is-rounded" src="/static/images/events/icons/adventofcode.png">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <h5 class="title is-5"><a href="https://adventofcode.com/2023">Advent of Code 2023</a></h5>
                <p class="subtitle is-6">December</p>
            </div>
        </div>
    </article>
</div>

<div class="is-hidden-mobile">
    <div class="box">
        <h4 class="title is-5">All events</h4>
        <ul class="menu-list" style="margin-top: 0;">
            <li><a class="has-text-link" href="{% url "events:page" path="code-jams" %}">Code Jams</a></li>
            <li><a class="has-text-link" href="{% url "events:page" path="pyweek" %}">PyWeek</a></li>
            <li><a class="has-text-link" href="{% url "events:page" path="pixels" %}">Pixels</a></li>
            <li><a class="has-text-link" href="{% url "events:page" path="adventofcode" %}">Advent of Code</a></li>
            <li><a class="has-text-link" href="{% url "events:page" path="revivalofcode" %}">Revival of Code</a></li>
            <li><a class="has-text-link" href="{% url "events:page" path="game-jams" %}">Game Jams</a></li>
        </ul>
    </div>
</div>
