<h4 class="title is-4">Recent events</h4>
<div class="box">
    <ul class="menu-list" style="margin-top: 0;">
        <li><a class="has-text-link" href="https://pyweek.org/35/">March: PyWeek 35</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams/10" %}">August: Code Jam 2023</a></li>
        <li><a class="has-text-link" href="https://pyweek.org/36/">September: PyWeek 36</a></li>
        <li><a class="has-text-link" href="https://adventofcode.com/2023">December: Advent of Code</a></li>
    </ul>
</div>

<div class="is-hidden-mobile">
    <h4 class="title is-4">All events</h4>
    <div class="box">
        <ul class="menu-list" style="margin-top: 0;">
            <li><a class="has-text-link" href="{% url "events:page" path="code-jams" %}">Code Jams</a></li>
            <li><a class="has-text-link" href="{% url "events:page" path="pyweek" %}">PyWeek</a></li>
            <li><a class="has-text-link" href="{% url "events:page" path="pixels" %}">Pixels</a></li>
            <li><a class="has-text-link" href="{% url "events:page" path="adventofcode" %}">Advent of Code</a></li>
            <li><a class="has-text-link" href="{% url "events:page" path="revivalofcode" %}">Revival of Code</a></li>
            <li><a class="has-text-link" href="{% url "events:page" path="game-jams" %}">Game Jams</a></li>
        </ul>
    </div>
</div>
