<div class="box">
    <p class="menu-label">Event Calendar 2023</p>
    <ul class="menu-list">
        <li><a class="has-text-black" style="cursor: default;">March: PyWeek 35</a></li>
        <li><a class="has-text-black" style="cursor: default;">TBD: Summer Code Jam</a></li>
        <li><a class="has-text-black" style="cursor: default;">September: PyWeek 36</a></li>
        <li><a class="has-text-black" style="cursor: default;">TBD: Pixels</a></li>
        <li><a class="has-text-black" style="cursor: default;">December: Advent of Code</a></li>
    </ul>
</div>

<div class="box">
    <p class="menu-label">Related Links</p>
    <ul class="menu-list">
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams" %}">Code Jams</a></li>
    </ul>
</div>
