<div class="box">
    <p class="menu-label">Event Calendar 2022</p>
    <ul class="menu-list">
        <li><a class="has-text-link" href="https://pyweek.org/33/" target="_blank" rel="noopener">March: PyWeek 33</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams/9" %}">July: Summer Code Jam</a></li>
        <li><a class="has-text-link" href="https://pyweek.org/34/" target="_blank" rel="noopener">September: PyWeek 34</a></li>
        <li><a class="has-text-black" style="cursor: default;">October: Pixels</a></li>
        <li><a class="has-text-black" style="cursor: default;">December: Advent of Code</a></li>
    </ul>
</div>

<div class="box">
    <p class="menu-label">Related Links</p>
    <ul class="menu-list">
        <li><a class="has-text-link" href="{% url "events:page" path="code-jams" %}">Code Jams</a></li>
    </ul>
</div>
