<div class="box" id="previous-events">
    <h2 class="title is-5">Previous events</h2>
    <article class="media">
        <div class="media-left">
            <p class="image is-32x32">
                <img class="is-rounded" src="/static/images/events/summer_code_jam_2023/logo.PNG" alt="">
            </p>
        </div>
        <div class="media-content">
            <div class="content">
                <h5 class="title is-5"><a href="{% url "events:page" path="code-jams/10" %}">Summer Code Jam 2023</a></h5>
                <p class="subtitle is-6">August 2023</p>
            </div>
        </div>
    </article>
    <article class="media">
        <div class="media-left">
            <p class="image is-32x32">
                <img class="is-rounded" src="/static/images/events/icons/pyweek.png" alt="">
            </p>
        </div>
        <div class="media-content">
            <div class="content">
                <h5 class="title is-5"><a href="https://pyweek/36/">PyWeek 36</a></h5>
                <p class="subtitle is-6">September 2023</p>
            </div>
        </div>
    </article>
    <article class="media">
        <div class="media-left">
            <p class="image is-32x32">
                <img class="is-rounded" src="/static/images/events/icons/adventofcode.png" alt="">
            </p>
        </div>
        <div class="media-content">
            <div class="content">
                <h5 class="title is-5"><a href="https://adventofcode.com/2023">Advent of Code 2023</a></h5>
                <p class="subtitle is-6">December 2023</p>
            </div>
        </div>
    </article>
    <article class="media">
        <div class="media-left">
            <p class="image is-32x32">
                <img class="is-rounded" src="/static/images/events/icons/pyweek.png" alt="">
            </p>
        </div>
        <div class="media-content">
            <div class="content">
                <h5 class="title is-5"><a href="https://pyweek/35/">PyWeek 37</a></h5>
                <p class="subtitle is-6">March 2024</p>
            </div>
        </div>
    </article>
</div>

<div class="is-hidden-mobile">
    <div class="box">
        <h4 class="title is-5">Table of contents</h4>
        <ul class="menu-list" style="margin-top: 0;">
            <li><a class="has-text-link" href="#scheduled-events">Scheduled events</a></li>
            <li><a class="has-text-link" href="#main-events">Annual events</a></li>
            <li><a class="has-text-link" href="#other-events">Other events</a></li>
        </ul>
    </div>
</div>
