<div class="box">
    <div class="has-text-centered">
        <img src="https://raw.githubusercontent.com/python-discord/branding/main/events/christmas/server_icons/festive_256.gif" style="border-radius: 10px;" alt="Server icon for AoC">
    </div>
    <p class="menu-label">Quick links</p>
    <ul class="menu-list">
        <li><a class="has-text-link" href="https://adventofcode.com">AoC Homepage</a></li>
        <li><a class="has-text-link" href="https://reddit.com/r/adventofcode">AoC Reddit</a></li>
    </ul>
</div>
