{% extends 'base/base.html' %}
{% load static %}

{% block title %}Logs for Deleted Message Context {{ message_context.id }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/staff/logs.css" %}">
{% endblock %}

{% block content %}

    {%  for message in messages %}
        <div class="discord-message">
            <div class="discord-message-header">
                <span class="discord-username" style="color: #{{ message.author.top_role.hex_colour }}">{{ message.author.name }}#{{ message.author.discriminator }}</span><span class="discord-message-metadata">Today at 6:15 PM | #helpers | User ID: 190549806198816768</span>
            </div>
            <div class="discord-message-content">
                {{ message.content|linebreaks }}
            </div>
        </div>
    {% endfor %}
{% endblock %}