@import "variables";

$quote_colour: #99AAB5;
$sidebar_button_border_colour: rgba(0, 0, 0, .11);

$page_classes: (
  blueprint-wiki,  // All wiki pages
);

@each $class in $page_classes {
  .#{$class} {
    .quote {
      border-left: 3px solid $primary_background;
      color: $quote_colour;
      margin-bottom: 1rem;
      padding-left: 20px;
    }

    #wiki-nav .uk-nav-divider {
      min-width: 8rem;
    }

    #wiki-sidebar {
      transition: width ease 1s;
    }

    #wiki-page {
      overflow-x: hidden;
    }

    #wiki-sidebar-button {
      align-items: center;
      border: 1px solid $sidebar_button_border_colour;
      color: $white;
      height: 3rem;
      justify-content: center;
      min-height: 3rem;
      min-width: 3rem;
      width: 3rem;
    }

    #doc-view {
      width: calc(100% - 6rem);
    }

    @media (max-width: 639px) {
      #doc-view {
        width: calc(100% - 1rem);
      }
    }

    #editor {
      min-height: 50vh;
      resize: vertical;
    }

    .sidebar-search-input {
      border-left: 0;
      border-right: 0;
      margin-top: 5px;
      padding-right: 0;
    }

    .search-button {
      border: 0;
      width: 100%;
    }

    .content {
      flex-grow: 1;
      margin: 0 1rem 1rem;
    }

    .location-input {
      margin-left: 15px;
    }

    .preview-title {
      padding: 1rem 1rem .1rem;
    }
  }
}
