{% extends "wiki/base.html" %}
{% load wiki_tags i18n sekizai_tags %}


{% block wiki_pagetitle %}{{ article.current_revision.title }}{% endblock %}

{% block wiki_navbar %}
  {% include "wiki/includes/article_menu.html" %}
{% endblock %}

{% block wiki_breadcrumbs %}
  {% include "wiki/includes/breadcrumbs.html" %}
{% endblock %}

{% block wiki_contents %}
  <div id="article-container">
    <h1 id="article-title">
      {{ article.current_revision.title }}
    </h1>
    <div>
      {% block wiki_contents_tab %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block wiki_footer_prepend %}
  <p style="margin-bottom: 10px;"><em>This article was last modified: {{ article.current_revision.modified }}</em></p>
{% endblock %}
