{% extends "wiki/base.html" %}
{% load wiki_tags crispy_forms_tags i18n sekizai_tags static %}

{% block wiki_pagetitle %}{% trans "Create root article" %}{% endblock %}

{% block wiki_contents %}
  <div class="columns">
    <div class="column is-two-thirds is-offset-2">
      <article class="message is-primary">
        <div class="message-header">
          <p>Create first article</p>
        </div>
        <div class="message-body">
          <p>
            Please create the root article. This article will be available at the root of your wiki,
            so consider creating a landing page here.
          </p>
          <p>
            Please note that, to begin with, this article may only be modified by wiki administrators.
            Once it's been created, you may edit the permissions and set up plugins, metadata, and so on.
          </p>
        </div>
      </article>
    </div>
  </div>

  <h2 class="title is-2">{% trans "Root article" %}</h2>

  <form method="POST" class="form-horizontal">
    {% wiki_form form %}

    <div class="field is-horizontal">
      <div class="field-label">
        {# Empty for spacing #}
      </div>
      <div class="field-body">
        <div class="control">
          <input type="submit" class="button is-primary" name="save_changes" value="Create" />
        </div>
      </div>
    </div>
  </form>

{% endblock %}
