{% extends "wiki/article.html" %}
{% load humanize %}
{% load i18n %}
{% load wiki_extra %}
{% load wiki_tags %}

{% block wiki_pagetitle %}Listing articles in {{ article.current_revision.title }}{% endblock %}

{% block wiki_contents_tab %}
  {% url 'wiki:dir' urlpath.path as self_url %}

  <form class="form-search directory-toolbar">
    <div class="is-pulled-right">
      {% render_field filter_form.query render_labels=False %}
    </div>

    <div class="field is-grouped">
      <div class="field-body">
        <div class="control">
          {% if urlpath.parent %}
            <a href="{% url 'wiki:dir' path=urlpath.parent.path %}" class="button">
              <span class="icon">
                <i class="fas fa-arrow-up"></i>
              </span>
              <span>Up one level</span>
            </a>
          {% endif %}
        </div>
        <div class="control">
          <a href="{% url 'wiki:create' path=urlpath.path %}" class="button is-primary">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>Add Article</span>
          </a>
        </div>
      </div>
    </div>
  </form>

  <br />

  <p>
    {% with paginator.object_list.count as cnt %}
      {% blocktrans with urlpath.path as path and cnt|pluralize:_("article,articles") as articles_plur and cnt|pluralize:_("is,are") as articles_plur_verb trimmed %}
        Browsing <strong><a href="{{ self_url }}">/{{ path }}</a></strong>. There {{ articles_plur_verb }} <strong>{{ cnt }} {{ articles_plur }}</strong> in this level.
      {% endblocktrans %}
    {% endwith %}
  </p>

  {% include "wiki/includes/pagination.html" %}

  <table class="table is-striped">
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Last modified</th>
    </tr>

    {% for urlpath in directory %}
      <tr>
        <td>
          <a href="{% url 'wiki:get' path=urlpath.path %}">{{ urlpath.article.current_revision.title }}</a>

          <a href="{% url 'wiki:dir' path=urlpath.path %}" class="list-children">
            <span class="icon">
              <i class="fas fa-arrow-right"></i>
            </span>
          </a>

          {% if urlpath.article.current_revision.deleted %}
            <span class="icon tooltip" data-tooltip="This article has been deleted">
              <i class="fas fa-trash"></i>
            </span>
          {% endif %}

          {% if urlpath.article.current_revision.locked %}
            <span class="icon tooltip" data-tooltip="This article is locked">
              <i class="fas fa-lock"></i>
            </span>
          {% endif %}
        </td>

        <td>
          {{ urlpath.slug }}
        </td>

        <td>
          {{ urlpath.article.current_revision.created|naturaltime }}
        </td>
      </tr>

      {% empty %}
      <tr>
        <td colspan="3">
          <em>There are no articles at this level</em>
        </td>
      </tr>
    {% endfor %}
  </table>

  {% include "wiki/includes/pagination.html" %}
{% endblock %}
