/*
  Page-specific styling for the resources page
*/

$page_classes: (
  page-main-info-resources,  // Resources page
);

@each $class in $page_classes {
  .#{$class} {
    div.payment-icon img {
      height: 2em;
    }

    div.payment-icon {
      margin-right: 1em;
    }
  }
}
