<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <title>Python Discord | {% block title %}{% endblock %}</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- Prevent Flash of Unstyled Content -->
            <script src="{{ static_file('js/fouc.js') }}"></script>

            <!-- Other JS loads -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit.min.js"></script>

            <!-- Static stuff -->
            <link rel="shortcut icon" href="{{ static_file('favicon.ico') }}">
            <link rel="stylesheet" href="{{ static_file('uikit_blurple.css') }}"/>
            <link rel="stylesheet" href="{{ static_file('style.css') }}"/>
            <link rel="stylesheet" href="{{ static_file('css/pygments-monokai.css') }}"/>

            <!-- OpenGraph metadata -->
            <meta property="og:title" content="Python Discord | {% block og_title %}{% endblock %}">
            <meta property="og:description" content="{% block og_description %}We're a large, friendly community focused around the Python programming language. Our community is open to those who wish to learn the language, as well as those looking to help others.{% endblock %}">
            <meta content="/static/logos/logo_discord.png" property="og:image">
        {% endblock %}
        {% block extra_head %}

        {% endblock %}
    </head>
    <body class="page-{{ current_page }}">
        <div class="uk-offcanvas-content uk-flex uk-flex-column">
            {% include "main/navigation.html" %}
            <div class="uk-flex uk-flex-row uk-flex-1">
                <div class="uk-card uk-card-body uk-flex-left uk-flex uk-card-primary">
                    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav id="wiki-nav">
                        {% if data is defined %}
                            {% if "headers" in data and data.headers %}
                                <li class="uk-nav-header">Contents</li>
                                {% for header in data.headers %}
                                    {%  if "sub_headers" in header %}
                                        <li class="uk-parent">
                                            <a href="{{ header.id }}">
                                                {{ header.title | safe }}
                                            </a>
                                            <ul class="uk-nav-sub">
                                                {% for sub in header.sub_headers %}
                                                    <li><a href="{{ sub.id }}">
                                                        {{ sub.title | safe }}
                                                    </a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li><a href="{{ header.id }}">{{ header.title | safe }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li class="uk-nav-divider"></li>
                            {% endif %}
                        {% endif %}
                        <li><a href="{{ url_for("wiki.page", page="home") }}">
                            <i class="uk-icon fas fa-fw fa-home"></i> &nbsp;Home
                        </a></li>
                        <li><a href="{{ url_for("wiki.page", page="jams") }}">
                            <i class="uk-icon fas fa-fw fa-star-exclamation"></i> &nbsp;Code Jams</a>
                        </li>
                        <li><a href="{{ url_for("wiki.page", page="contributing") }}">
                            <i class="uk-icon fas fa-fw fa-code-branch"></i> &nbsp;Contributing
                        </a></li>
{#                        <li class="uk-active"><a href="#">active</a></li>#}
{#                        <li class="uk-parent">#}
{#                            <a href="#">Contributing</a>#}
{#                            <ul class="uk-nav-sub">#}
{#                                <li><a href="#">Sub item</a></li>#}
{#                                <li><a href="#">Sub item</a></li>#}
{#                            </ul>#}
{#                        </li>#}
                        <li class="uk-nav-divider"></li>

                        {% if (can_edit or debug) and current_page != "edit" %}
                            <li>
                                <a href="{{ url_for("wiki.edit", page=page) }}">
                                    <i class="uk-icon fas fa-fw fa-pencil-alt"></i> &nbsp;Edit
                                </a>
                            </li>
                        {% elif current_page == "edit" %}
                            <li>
                                <a href="{{ url_for("wiki.page", page=page) }}">
                                    <i class="uk-icon fas fa-fw fa-arrow-left"></i> &nbsp;Back
                                </a>
                            </li>
                        {% endif %}

                        {% if current_page != "history.show" %}
                            {% if current_page == "history.compare" %}
                                <li>
                                    <a href="{{ url_for("wiki.history.show", page=slug) }}">
                                        <i class="uk-icon fas fa-fw fa-arrow-left"></i> &nbsp;Back
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ url_for("wiki.history.show", page=page) }}">
                                        <i class="uk-icon fas fa-fw fa-history"></i> &nbsp;Revisions
                                    </a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li>
                                <a href="{{ url_for("wiki.page", page=page) }}">
                                    <i class="uk-icon fas fa-fw fa-arrow-left"></i> &nbsp;Back
                                </a>
                            </li>
                        {% endif %}


                        {% if current_page != "source" %}
                            <li>
                                <a href="{{ url_for("wiki.source", page=page) }}">
                                    <i class="uk-icon fas fa-fw fa-code"></i> &nbsp;Source
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ url_for("wiki.page", page=page) }}">
                                    <i class="uk-icon fas fa-fw fa-arrow-left"></i> &nbsp;Back
                                </a>
                            </li>
                        {% endif %}
                        <li class="uk-nav-divider"></li>
                        <li><a href="{{ url_for("wiki.page", page="help") }}"><i class="fas fa-fw fa-question-circle"></i> &nbsp;Help</a></li>
                    </ul>
                </div>
                <div class="uk-section" style="flex-grow: 1; margin: 0 1rem 1rem;">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <footer>
            <div class="uk-section uk-section-secondary uk-container-medium uk-text-meta">
                <div class="uk-text-center">
                    <p>
                        This website uses <a href="https://python.org">Python</a> and
                        <a href="http://flask.pocoo.org/">Flask</a>, and was developed collaboratively on
                        <a href="https://github.com/discord-python/site">GitHub</a>.
                    </p>
                </div>
            </div>
        </footer>

        <script src='{{ static_file('js/countdown.js') }}'></script>
    </body>
</html>
