<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <title>Python Discord | {% block title %}{% endblock %}</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <script defer src="https://pro.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-DtPgXIYsUR6lLmJK14ZNUi11aAoezQtw4ut26Zwy9/6QXHH8W3+gjrRDT+lHiiW4" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit.min.js"></script>
            <link rel="shortcut icon" href="{{ static_file('favicon.ico') }}">
            <link rel="stylesheet" href="{{ static_file('uikit_blurple.css') }}"/>
            <link rel="stylesheet" href="{{ static_file('style.css') }}"/>

            <!-- OpenGraph metadata -->
            <meta property="og:title" content="Python Discord | {% block og_title %}{% endblock %}">
            <meta property="og:description" content="{% block og_description %}We're a large, friendly community focused around the Python programming language. Our community is open to those who wish to learn the language, as well as those looking to help others.{% endblock %}">
            <meta content="/static/logos/logo_discord.png" property="og:image">
        {% endblock %}
        {% block extra_head %}

        {% endblock %}
    </head>
    <body class="page-{{ current_page }}">
        <div class="uk-offcanvas-content uk-flex uk-flex-column">
            {% include "main/navigation.html" %}
            <div class="uk-flex uk-flex-row uk-flex-1">
                <div class="uk-card uk-card-body uk-flex-left uk-flex">
                    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                        {% if (can_edit or debug) and current_page == "page" %}
                            <li>
                                <a href="{{ url_for("wiki.edit", page=page) }}">
                                    <i class="fas fa-pencil-alt"></i> &nbsp;Edit
                                </a>
                            </li>
                            <li class="uk-nav-divider"></li>
                        {% elif current_page == "edit" %}
                            <li>
                                <a href="{{ url_for("wiki.page", page=page) }}">
                                    <i class="fas fa-arrow-left fa-fw"></i> &nbsp;Back
                                </a>
                            </li>
                            <li class="uk-nav-divider"></li>
                        {% endif %}
                        <li class="uk-active"><a href="#">Placeholder</a></li>
                        <li class="uk-parent">
                            <a href="#">Parent</a>
                            <ul class="uk-nav-sub">
                                <li><a href="#">Sub item</a></li>
                                <li><a href="#">Sub item</a></li>
                            </ul>
                        </li>
                        <li class="uk-parent">
                            <a href="#">Parent</a>
                            <ul class="uk-nav-sub">
                                <li><a href="#">Sub item</a></li>
                                <li><a href="#">Sub item</a></li>
                            </ul>
                        </li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
                    </ul>
                </div>
                <div class="uk-section" style="flex-grow: 1; margin: 0 1rem 1rem;">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <footer>
            <div class="uk-section uk-section-secondary uk-container-medium uk-text-meta">
                <div class="uk-text-center">
                    <p>
                        This website uses <a href="https://python.org">Python</a> and
                        <a href="http://flask.pocoo.org/">Flask</a>, and was developed collaboratively on
                        <a href="https://github.com/discord-python/site">GitHub</a>.
                    </p>
                </div>
            </div>
        </footer>

        <script src='{{ static_file('js/countdown.js') }}'></script>
    </body>
</html>
