{% extends "wiki/base.html" %}
{% block title %}Wiki Error{% endblock %}
{% block og_title %}Wiki Error{% endblock %}
{% block og_description %}{% endblock %}
{% block content %}
    <div class="uk-container uk-container-small">
        <div uk-alert class="uk-alert-warning">
            <a class="uk-alert-close" uk-close></a>
            <h3>The page you requested is currently being edited</h3>
            <p>Please try again in a little bit when the lock has expired.</p>
        </div>
    </div>
{% endblock %}
