{% extends "wiki/base.html" %}
{% block title %}Wiki | Revisions to {{ page }}{% endblock %}
{% block og_title %}Wiki | Revisions to {{ page }}{% endblock %}
{% block og_description %}{% endblock %}
{% block content %}
    <div class="uk-container">
        <h2>Wiki page revisions</h2>
        <table class="uk-table uk-table-hover">
            <thead>
            <tr>
                <th>Page title</th>
                <th>Date</th>
                <th>User ID</th>
                <th>Compare before</th>
                <th>Compare after</th>
            </tr>
            </thead>
            <tbody>
            {% for revision in revisions %}
                <tr>
                    <td>{{ revision["post"]["title"] }}</td>
                    <td>{{ revision["pretty_time"] }}</td>
                    <td>{{ revision['user'] }}</td>
                    <td><input type="radio" id="compare-before-{{ revision['id'] }}" class="uk-radio"></td>
                    <td><input type="radio" id="compare-after-{{ revision['id'] }}" class="uk-radio"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="#" id="compare-submit" class="uk-button uk-button-primary">Compare selections</a>
    </div>
    <script>
        let revisions = {{ revisions | tojson }}
    </script>
    <script src="{{ static_file("js/revision_diff.js") }}"></script>
{% endblock %}