{% extends "wiki/base.html" %}
{% block title %}Wiki | Search{% endblock %}
{% block og_title %}Wiki | Search{% endblock %}
{% block og_description %}Search for pages by content{% endblock %}
{% block content %}
    <div class="uk-container uk-container-small">
        <h2 class="uk-title">
            Search
        </h2>

        <form uk-grid class="uk-grid-small" action="{{ url_for("wiki.search") }}" method="post">
            <input type="text" class="uk-width-1-1 uk-input" placeholder="Search Query" id="query" name="query" style="margin-left: 15px;" required>
            <div class="uk-width-1-4">
                &nbsp;
            </div>
            <div class="uk-width-1-2">
                <input class="uk-button uk-button-primary uk-width-1-1" type="submit" id="search" value="Search" />
            </div>

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>
{% endblock %}