{% extends "wiki/base.html" %}
{% block title %}Wiki | Special Pages{% endblock %}
{% block og_title %}Wiki | Special Pages{% endblock %}
{% block og_description %}Wiki special pages, non-article informational pages{% endblock %}
{% block content %}
    <div class="uk-container uk-container-small">
        <h2 class="uk-title">
            Special Pages
        </h2>

        <ul>
            <li><a href="{{ url_for("wiki.special.all_pages") }}">
                Special: All Pages
            </a></li>
        </ul>
    </div>
{% endblock %}