{% extends 'base/base.html' %}
{% load static %}

{% block title %}Guides{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/content/articles.css" %}">
{% endblock %}

{% block content %}
    {% include "base/navbar.html" %}

    <section class="breadcrumb-section section">
        <div class="container">
            <nav class="breadcrumb is-pulled-left" aria-label="breadcrumbs">
                <ul>
                    <li class="is-active"><a href="/content">Pages</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="content">
                <h1>Articles</h1>
                {% for article, data in content.items %}
                    <div class="box" style="max-width: 800px;">
                        <span class="icon is-size-4 is-medium">
                            <i class="fab fa-python is-size-3 is-black has-icon-padding" aria-hidden="true"></i>
                        </span>
                        <a href="{{ article }}/">
                                <span class="is-size-4 has-text-weight-bold">{{ data.title.0 }}</span>
                        </a>
                        <p class="is-italic">{{ data.shortdescription.0 }}</p>
                    </div>
                {% endfor %}
                {% for category, data in categories.items %}
                    <div class="box" style="max-width: 800px;">
                        <span class="icon is-size-4 is-medium">
                            <i class="fas fa-folder is-size-3 is-black has-icon-padding" aria-hidden="true"></i>
                        </span>


                        <a href="category/{{ category }}/">
                            <span class="is-size-4 has-text-weight-bold">{{ data.name }}</span>
                        </a>
                        <p class="is-italic">{{ data.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
