{% extends 'base/base.html' %}
{% load static %}

{% block title %}{{ page_title }}{% endblock %}
{% block head %}
    <meta property="og:title" content="Python Discord - {{ page_title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ page_description }}" />
    <link rel="stylesheet" href="{% static "css/content/page.css" %}">
    <script src="{% static "js/content/page.js" %}"></script>
{% endblock %}

{% block content %}
    {% include "base/navbar.html" %}

    <section class="breadcrumb-section section">
        <div class="container">
            {# Article breadcrumb #}
            <nav class="breadcrumb is-pulled-left" aria-label="breadcrumbs">
                <ul>
                    {% for item in breadcrumb_items %}
                        <li><a href="{% url "content:page_category" location=item.path %}">{{ item.name }}</a></li>
                    {% endfor %}
                    <li class="is-active"><a href="#">{{ page_title }}</a></li>
                </ul>
            </nav>
            {# Sub-Article dropdown for category pages #}
            {% if subarticles %}
                {% include "content/dropdown.html" %}
            {% endif %}
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="content">
                <div class="is-flex" style="justify-content: space-between;">
                    <h1 class="title is-flex">{{ page_title }}</h1>
                    <button class="button is-flex is-pulled-right is-primary is-light">
                        <a href="{{ request.path }}">
                            <i class="fab fa-github mr-2"></i>
                            <b>Edit on Github</b>
                        </a>
                    </button>
                </div>
                {% block page_content %}{% endblock %}
            </div>
        </div>
    </section>
{% endblock %}
