{% load str_methods %}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const dropdown = document.querySelector(".dropdown");
        dropdown.addEventListener("click", () => {
            dropdown.classList.toggle("is-active");
        })
    });
</script>

<div class="dropdown is-pulled-right is-right">
    <div class="dropdown-trigger">
        <a aria-haspopup="true" aria-controls="subarticle-menu">
            <span>Sub-Articles</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </a>
    </div>
    <div class="dropdown-menu" id="subarticle-menu" role="menu">
        <div class="dropdown-content">
            {% for page in subarticles|dictsort:0 %}
                <a href="{{page}}" class="dropdown-item">{{ page.title|replace_hyphens:" " }}</a>
            {% endfor %}
        </div>
    </div>
</div>
