{# Base navigation screen for resources #}
{% extends 'content/base.html' %}

{% block page_content %}
    {# Nested Categories #}
    {% for category, data in categories.items %}
        <div class="box" style="max-width: 800px;">
            <span class="icon is-size-4 is-medium">
                <i class="{{ data.icon|default:"fas fa-folder" }} is-size-3 is-black has-icon-padding" aria-hidden="true"></i>
            </span>

            <a href="{% url "content:page_category" location=path|add:category %}">
                <span class="is-size-4 has-text-weight-bold">{{ data.title }}</span>
            </a>
            <p class="is-italic">{{ data.description }}</p>
        </div>
    {% endfor %}

    {# Single Pages #}
    {% for page, data in pages.items %}
        <div class="box" style="max-width: 800px;">
            <span class="icon is-size-4 is-medium">
                <i class="{{ data.icon|default:"fab fa-python" }} is-size-3 is-black has-icon-padding" aria-hidden="true"></i>
            </span>
            <a href="{% url "content:page_category" location=path|add:page %}">
                <span class="is-size-4 has-text-weight-bold">{{ data.title }}</span>
            </a>
            {% if "tags" in location %}
                <p class="is-italic">{{ data.description | safe }}</p>
            {% else %}
                <p class="is-italic">{{ data.description }}</p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
