{% extends 'content/base.html' %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/atom-one-dark-reasonable.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block page_content %}
    {% if relevant_links|length > 0 %}
        <div class="columns is-variable is-8">
            <div class="column is-two-thirds">
                {{ page.content|safe }}
            </div>
            <div class="column">
                <div class="box">
                    <p class="menu-label">Relevant links</p>
                    <ul class="menu-list">
                        {% for value, link in relevant_links.items %}
                            <li><a class="has-text-link" href="{{link}}">{{ value }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
        <div>{{ page.content|safe }}</div>
    {% endif %}
{% endblock %}
