@import "variables";
@import "../../../../uikit/variables";

$page_classes: (
  page-main-jams-index,
);

@each $class in $page_classes {
  .#{$class} {
    .date-separator {
      vertical-align: middle;
    }

    .theme-label {
      margin-top: 3px;
    }

    .jam-tiles {
      border-color: $border_darker transparent;
      border-style: solid;
      border-width: 1px;

      .uk-tile-success {
        background: $success_colour;
      }

      .uk-tile-danger {
        background: $danger_colour;
      }

      .uk-tile-winner {
        background: $winner_colour_brighter;
      }

      .jam-tile-text {
        align-items: center;
        color: $white;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
      }
    }
  }
}
