$page_classes: (jam-team-view);

$gitlab_activity_background: #F5F5F5;
$pasta_background: #EAF5FF;
$pasta_text: #0366D6;

@each $class in $page_classes {
  .#{$class} {
    .participant-card-list {
      margin-bottom: 25px;
    }

    .participant-card {
      margin-bottom: 10px;
      padding: 20px;

      .participant-avatar {
        height: 2.5rem;
        margin-right: 10px;
      }

      .participant-links {
        float: right;
      }
    }

    .gitlab-activity {
      background-color: $gitlab_activity_background;
      height: 500px;
      overflow-x: hidden;
      overflow-y: auto;
      width: 100%;

      .gitlab-activity-loading {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;

        .gitlab-activity-spinner {
          text-align: center;
          width: 100%;
        }
      }

      .gitlab-activity-events {
        height: auto;
        width: 100%;
      }

      .gitlab-activity-event-item {
        background-color: $white;
        border: solid 1px $muted_colour;
        border-bottom-width: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        padding: 10px;
        vertical-align: middle;
        width: 100%;

        .gitlab-activity-event-item-content {
          width: 100%;
        }

        .pasta {
          background-color: $pasta_background;
          border-radius: 3px;
          color: $pasta_text;
          font-family: Consolas, monaco, monospace;
          font-size: 12px;
          margin-right: 10px;
          padding: 3px 5px;
        }
      }

      .gitlab-activity-event-item:nth-last-child(2) {
        border-bottom-width: 1px;
      }

      .gitlab-activity-events-footer {
        color: $muted_colour;
        display: flex;
        justify-content: center;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}
