@import "variables";

$page_classes: (
    jam-team-view,
);

@each $class in $page_classes {
  .#{$class} {
    .participant-card {
      padding: 20px;
      margin-bottom: 7px;

      img.participant-avatar {
        height: 2.5rem;
        margin-right: 10px;
      }

      .participant-gitlab {
        float: right;
      }
    }
  }
}
