.discord-banner {
    border-radius: 0.5rem;
}

.hero-image {
    width: 20rem;
    margin: auto;
}

.hero-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section-sp img {
    height: 5rem;
    margin-right: 2rem;
}


.navbar-item.is-large img {
    max-height: 3rem;
}

.navbar-item.is-fullsize {
    padding:0;
}

.navbar-item.is-fullsize img {
    max-height: 4.75rem;
}

.navbar-item.has-no-highlight:hover {
    background-color: transparent;
}

.navbar-item.has-left-margin-1 {
    margin-left: 1rem;
}

.navbar-item.has-left-margin-2 {
    margin-left: 2rem;
}

.navbar-item.has-left-margin-3 {
    margin-left: 3rem;
}

.video-container {
    position: relative;
    padding-bottom: 285px;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 560px;
    max-height: 315px;
}
