{% extends "events/base_sidebar.html" %}

{% load static %}

{% block title %}Summer Code Jam 2021{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url "events:index" %}">Events</a></li>
    <li><a href="{% url "events:page" path="code-jams" %}">Code Jams</a></li>
    <li><a href="{% url "events:page" path="code-jams/8" %}">Summer Code Jam 2021</a></li>
    <li class="is-active"><a href="#">Submissions</a></li>
{% endblock %}

{% block event_content %}
    <p>
        Below is a list of all projects submitted by the end of Summer Code Jam 2021
    </p>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Acute Alligators</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/n0remac/Acute-Alligators-2021-Summer-Code-Jam">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Adaptable Antelopes</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/BoraxTheClean/adaptable-antelopes">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Astounding Arapaimas</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/p0lygun/astounding-arapaimas">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Beatific Bulldogs</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/beatific-bulldogs/code-jam">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Benevolent Bonobos</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Anand1310/summer-code-jam-2021">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Blessed Badgers</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/StephD/CJ8-blessed-badgers">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Bright Bluefins</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/DavinderJolly/bright-bluefins/">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Businesslike Buffalo</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Sahaj001/Businesslike_Buffalo">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Canny Capybaras</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/aiyayayaya/canny-capybaras-collab-code-contest">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Cheerful Cheetahs</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/cj8-cheerful-cheetahs/project">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Classic Clownfish</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Istalantar/SCJ-2021-classic-clownfish">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Considerate Coatis</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/yashkir/considerate-coatis">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Dedicated Dugongs</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Areking-RS/Code-jam-2021">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Discrete Dingos</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/somthecoder/CodeJam-Discrete-Dingos">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Enlightened Elks</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/GriceTurrble/enlightened-elks-codejam/">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Esteemed Emus</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Vthechamp22/esteemed-emus">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Favorable Fishers</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/UntriexTv/favorable-fishers">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Feisty Ferrets</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/ToxicKidz/summer-code-jam-8">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Gallant Grasshoppers</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/StackedQueries/gallant-grasshoppers">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Grand Geckos</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/imsofi/codejam-grand-geckos/">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Hospitable Hares</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/samarthkulshrestha/hospitable-hares_code-jam-8">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Humorous Honeybees</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/mirandazellnik/code-jam-2021">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Jaunty Jackals</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Jaunty-Jackals/jaunty-jackals">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Jazzed Jerboas</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/tomheaton/pcj8-jazzed-jerboas">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Jubilant Jellyfish</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Cheepsss/Jubilant-Jellyfish">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Lovable Lobsters</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/A5rocks/code-jam-8">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Magical Muskrats</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/harjyotbagga/escape-room">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Mature Magpies</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Mature-Magpies/think-inside-the-box">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Merciful Millipedes</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Reuben27/Merciful-Millipedes">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Meteoric Minks</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/meteoric-minks/code-jam">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Modern Meerkats</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Ahmed-Khaled-dev/modern-meerkats">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Notable Newts</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/meysam81/notable-newts">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Notorious Narwhals</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/smileyface12349/notorious-narwhals">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Patient Panthers</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Willd14469/cj8-patient-panthers">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Perceptive Porcupines</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/what-the-python/wtpython">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Poetic Pumas</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/roogla/poetic_pumas">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Purposeful Pangolins</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/doodletaco/dataset-viewer">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Quirky Quokkas</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/joshuacc1/Music-Player-CLI-Anywhere">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Respectful Racoons</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/manjunaath5583/respectful_racoons">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Rhapsodic Rabbits</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/yummyyummybaguette/rhapsodic-rabbits">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Robust Reindeer</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/bjoseru/pdcj8-robust-reindeer">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Scholarly Skunks</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Davidy22/scholarlySkunkJam/">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Secretive Squirrels</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/dain-xyz/python-jam-2021-2">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Sleek Snails</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Sleek-Snails/Snail-Snacks">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Spellbinding Squids</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/SystematicError/code-jam">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Stylish Salamanders</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Darklight-user/code-jam-stylish-salamanders">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Tactful Tunas</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Yagueteiro/code-jam-2021/">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Transcendent Tarsiers</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/kronifer/cj8-repo">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Tubular Terriers</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Tubular-Terriers/code-jam">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Virtuous Vultures</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/iceCream-Taco/cj8-virtuous-vultures">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Whimsical Woolly Mammoths</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/SilverSlashDiscord/whimsical-woolly-mammoths">GitHub</a></p>
        </div>
    </div>

{% endblock %}

{% block sidebar %}

    {% include "events/sidebar/code-jams/8.html" %}

{% endblock %}
