<div class="box">
    <p class="menu-label">Partners</p>
    <p><a href="https://arcade.academy/" target="_new"><img src="https://i.imgur.com/CtY3Siv.png" style="width: 100%;" alt=""></a></p>
</div>

<div class="box">
    <p class="menu-label">Relevant Links</p>
    <ul class="menu-list">
        <li><a class="has-text-link" href="{% url "events:page" path="game-jams/2020/rules" %}">Rules</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="game-jams/2020/project-setup" %}">Project Setup</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="game-jams/2020/technical-requirements" %}">Technical Requirements</a></li>
        <li><a class="has-text-link" href="{% url "events:page" path="game-jams/2020/judging" %}">Judging</a></li>
    </ul>
</div>
