{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <img class="uk-container uk-section">
    <div style="display:flex;justify-content:center;align-items:center;">
        <a href="https://discord.gg/XBGetGp">
            <img src="/static/banners/stem-banner.png" style="width:75%">
        </a>
    </div>
    <div style="display:flex;justify-content:center;align-items:center;">
        <p>STEM is a growing server dedicated to discussion and education pertaining to
           subjects within the fields of science, technology, engineering, and mathematics.
           We aim to provide our members with an engaged, friendly community consisting of
           members with education levels from high school to graduate, and backgrounds from
           independent study to industry and research. We hope to see you soon!</p>
    </div>
    <div style="display:flex;justify-content:center;align-items:center;">
        <a href="https://discord.gg/ENJf3TX">
            <img src="/static/banners/hacking-banner.jpg" style="width:75%">
        </a>
    </div>
    <div style="display:flex;justify-content:center;align-items:center;">
        <p>Hacking-Coding is a server for discussions about ethical hacking, programming,
           and infosec in general. We have over 5,000 members. People of all skill levels
           are welcome to join.</p>
    </div>

{% endblock %}