{% extends "base.html" %}
{% block title %}WS Test{% endblock %}
{% block content %}
    <div class="uk-container uk-section">
        <h1>Open your JS console to test</h1>

        <script type="application/javascript">
            let ws = new WebSocket("ws://api.{{ server_name }}/ws/echo");

            ws.onopen = function(event) {
                console.log("WS opened! Use send() to send a message.");
            };

            ws.onmessage = function (event) {
                console.log("<- " + event.data);
            };

            function send(text) {
                console.log("-> " + text);
                ws.send(text);
            }
        </script>
    </div>
{% endblock %}