{% extends 'base/base.html' %}
{% load static %}

{% block title %}Timeline{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/home/timeline.css" %}">
  <link rel="stylesheet" href="{% static "css/home/index.css" %}">
{% endblock %}

{% block content %}
  {% include "base/navbar.html" %}

  <section class="cd-timeline js-cd-timeline">
    <div class="container max-width-lg cd-timeline__container">

      {% for entry in entries %}

        <div class="cd-timeline__block" id="{{ entry.slug }}">
          <div class="cd-timeline__img cd-timeline__img--picture {{ entry.icon_color }}">
            {% if entry.icon == "pydis" %}
              <img src="{% static "images/timeline/cd-icon-picture.svg" %}" alt="Picture">
            {% else %}
              <i class="{{ entry.icon }}"></i>
            {% endif %}
          </div>

          <div class="cd-timeline__content has-background-white-bis text-component content">
            <h2><a href="#{{ entry.slug }}">{{ entry.title }}</a></h2>
            {{ entry.content|safe }}
            <div class="flex justify-between items-center">
              <span class="cd-timeline__date has-text-grey">{{ entry.date }}</span>
            </div>
          </div>
        </div>

      {% endfor %}

    </div>
  </section>

  <script src="{% static "js/timeline/main.js" %}"></script>
{% endblock %}
