{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Discord | 500</title>

    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/error_pages.css" %}">
</head>

<body>
    <div class="error-box">
        <div class="logo-box">
            <img src="https://raw.githubusercontent.com/python-discord/branding/b67897df93e572c1576a9026eb78c785a794d226/logos/logo_banner/logo_site_banner.svg"
                alt="Python Discord banner" />
        </div>
        <div class="content-box">
            <h1>500 — Internal Server Error</h1>
            <p>Sorry, but something went wrong on our side of things.</p>
        </div>
    </div>
</body>

</html>
