.breadcrumb-section {
    padding: 1rem;
}

#edit-on-github {
    margin-left: 1rem;
}

@media (max-width: 600px) {
    #edit-on-github {
        display: none;
    }

   .dropdown-menu {
        left: unset;
        right: 0;
    }
}

i.has-icon-padding {
    padding: 0 10px 25px 0;
}

.card.github-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

[data-theme="dark"] .card.github-card {
    border: solid 1px #4E4F51;
}

[data-theme="dark"] .card-footer {
    border-top: solid 1px #4E4F51;
}

[data-theme="dark"] .card-footer-item:not(:last-child) {
    border-right: solid 1px #4E4F51;
}

.card.github-card .card-content {
    flex: 1;
}
/*
 * Move padding padding from <pre> tag to hljs <code> tags so the padding
 * space is colored the same as the background of hljs <code> blocks.
 */
.content pre {
    padding: 0;
}

code.hljs {
    padding: 1.75em 2em;
}

/*
 * Show header permalink on hover.
 */
.headerlink {
    display: none;
    padding-left: 0.5em;
}

:is(h1, h2, h3, h4, h5, h6):hover > .headerlink {
    display: inline;
}

/*
 * Display <em> tags immediately following <img> tags like figure subcaptions.
 * Note: There must not be a newline between the image and the italicized line
 * for this to work. Otherwise, it's regular markdown.
 *
 * Image caption:
 *
 * ![Title](Source)
 * *This is my caption.*
 *
 */
img + em {
    /* Place the caption on it's own line */
    display: block;
    white-space: pre;

    /* Style */
    font-size: .875em;
}

/*
 * Remove extra padding on the left of TOC items
 */
ul.menu-list.toc {
    margin-left: 0;
}

/*
 * Remove bullets set by the markdown extension, since bulma adds vertical
 * lines to represent nesting
 */
.toc li {
    list-style-type: none;
}
/* ..but we still want bullets on the top <ul> items */
.toc > ul > li {
    list-style-type: disc;
}

/*
 * Increase space between images and any text above the image in a list.
 * This is used instead of a newline between the image and the text in markdown
 * so the image remains left-aligned with the list item.
 */
li img {
    margin-top: 0.5em;
}

[data-theme="dark"] hr {
    background-color: #4c515a;

.dropdown-menu {
    min-width: 15rem;
}

a.dropdown-item {
    white-space: normal;
    padding-right: 0;
}
