.breadcrumb-section {
    padding: 1rem;
}

i.has-icon-padding {
    padding: 0 10px 25px 0;
}

pre {
    /*
     * Style it the same as the <code> tag, since highlight.js does not style
     * backgrounds of <pre> tags but bulma does, resulting in a weird off-white
     * border.
     */
    background-color: #282c34;
}
