.breadcrumb-section {
    padding: 1rem;
}

i.has-icon-padding {
    padding: 0 10px 25px 0;
}

/*
 * Move padding padding from <pre> tag to hljs <code> tags so the padding
 * space is colored the same as the background of hljs <code> blocks.
 */
.content pre {
    padding: 0;
}

code.hljs {
    padding: 1.75em 2em;
}

/*
 * Show header permalink on hover.
 */
.headerlink {
    display: none;
    padding-left: 0.5em;
}

:is(h1, h2, h3, h4, h5, h6):hover > .headerlink {
    display: inline;
}

/*
 * Display <em> tags immediately following <img> tags like figure subcaptions.
 * Note: There must not be a newline between the image and the italicized line
 * for this to work. Otherwise, it's regular markdown.
 *
 * Image caption:
 *
 * ![Title](Source)
 * *This is my caption.*
 *
 */
img + em {
    /* Place the caption on it's own line */
    display: block;
    white-space: pre;

    /* Style */
    font-size: .875em;
}

/*
 * Remove extra padding on the left of TOC items
 */
ul.menu-list.toc {
    margin-left: 0;
}

/*
 * Remove bullets set by the markdown extension, since bulma adds vertical
 * lines to represent nesting
 */
.toc li {
    list-style-type: none;
}
/* ..but we still want bullets on the top <ul> items */
.toc > ul > li {
    list-style-type: disc;
}

/*
 * Increase space between images and any text above the image in a list.
 * This is used instead of a newline between the image and the text in markdown
 * so the image remains left-aligned with the list item.
 */
li img {
    margin-top: 0.5em;
}

.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
}

.collapsible-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
