{% extends "events/base_sidebar.html" %}

{% load static %}

{% block title %}Summer Code Jam 2022{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url "events:index" %}">Events</a></li>
    <li><a href="{% url "events:page" path="code-jams" %}">Code Jams</a></li>
    <li class="is-active"><a href="#">Summer Code Jam 2022</a></li>
{% endblock %}

{% block event_content %}
    <p>Once a year we host a code jam for members of our server to participate in. The code jam is an event where we place you
        in a team with 5 other random server members. You then have 11 days to code some sort of application or program in Python.
        Your program must use the specified technology/framework and incorporate the theme chosen by the server.
    </p>
    <p>
        After the 11 days are complete, your team has 4 days to finish documentation and create a video presentation showcasing
        and walking through the program that your team has created. More details and specifics of this will be released within the next 2 weeks.
    </p>

    <h3 id="important-dates"><a href="#important-dates">Important Dates</a></h3>
    <ul>
        <li><strike>Saturday, June 18 - Form to submit theme suggestions opens</strike></li>
        <li><strike>Wednesday, June 29 - The Qualifier is released</strike></li>
        <li>Wednesday, July 6 - Voting for the theme opens</li>
        <li>Wednesday, July 13 - The Qualifier closes</li>
        <li>Thursday, July 21 - Code Jam Begins</li>
        <li>Sunday, July 31 - Coding portion of the jam ends</li>
        <li>Sunday, August 4 - Code Jam submissions are closed</li>
    </ul>
    <h3 id="how-to-join"><a href="#how-to-join">How to Join</a></h3>
    <p>
        Before being able to join the code jam, you must complete a qualifier which tests your knowledge in Python.
        The qualifier can be found <a href="https://github.com/python-discord/code-jam-qualifier-9/" title="Code Jam 9 qualifier repository" target="_blank" rel="noopener">on our GitHub</a>
        and once completed you should submit your solution using the <a href="https://forms.pythondiscord.com/form/cj9-qualifier" target="_blank" rel="noopener">sign-up form</a>.
    </p>
    <h3 id="technology"><a href="#technology">Technology</a></h3>
    <p>
        The chosen technology/tech stack for this year is <strong>WebSockets</strong>.
        Each team must make use of <a href="{% url "events:page" path="code-jams/9/frameworks" %}">the approved frameworks</a> to create a WebSockets-based app.
        For more information of websockets, check out <a href="https://en.wikipedia.org/wiki/WebSocket" target="_blank" rel="noopener">this wikipedia article</a>.
    </p>

    <h3 id="prizes"><a href="#prizes">Prizes</a></h3>
    <p>
        Our Code Jam Sponsors have provided prizes for the winners of the code jam.
        Also, thanks to our Patreon patrons supporting this server, we are able to send members of the winning teams
        Python Discord t-shirts and possibly other goodies.
    </p>

    <div class="card mb-4">
        <div class="card-content">
            <div class="media">
                <div class="media-left" style="max-width:150px">
                    <img src="{% static "images/events/DO_Logo_Vertical_Blue.png" %}" alt="Digital Ocean">
                </div>
                <div class="media-content">
                    <p class="subtitle has-link"><a href="https://www.digitalocean.com/" target="_blank" rel="noopener">DigitalOcean</a></p>
                    <p class="is-italic">
                        Scalable compute platform with add-on storage, security, and monitoring capabilities.
                        We make it simple to launch in the cloud and scale up as you grow—whether you’re running one virtual machine or ten thousand.
                    </p>
                    <p><strong>Prizes</strong><br>
                    DigitalOcean credits to the members of a winning team.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-content">
            <div class="media">
                <div class="media-left" style="max-width:150px">
                    <img src="{% static "images/sponsors/jetbrains.png" %}" alt="JetBrains">
                </div>
                <div class="media-content">
                    <p class="subtitle has-link"><a href="https://www.jetbrains.com/" target="_blank" rel="noopener">JetBrains</a></p>
                    <p class="is-italic">
                        Whatever platform or language you work with, JetBrains has a development tool for you.
                        We help developers work faster by automating common, repetitive tasks to enable them to stay focused on code design and the big picture.
                        We provide tools to explore and familiarize with code bases faster. Our products make it easy for you to take care of quality during all stages of development and spend less time on maintenance tasks.
                    </p>
                    <p><strong>Prizes</strong><br>
                    1-year JetBrain licenses to the members of a winning team.</p>
                </div>
             </div>
        </div>
    </div>

    <div class="card mb">
        <div class="card-content">
            <div class="media">
                <div class="media-left" style="max-width:150px">
                    <img src="{% static "images/events/Replit.png" %}" alt="Replit">
                </div>
                <div class="media-content">
                    <p class="subtitle has-link"><a href="https://www.replit.com" target="_blank" rel="noopener">Replit</a></p>
                    <p class="is-italic">Start coding instantly, right from your browser.
                        With GitHub integration and support for nearly every major programming language, Replit is the best place to code.
                        Our mission is to bring the next billion software creators online.
                        We build powerful, simple tools and platforms for learners, educators, and developers.
                    </p>
                    <p><strong>Prizes</strong><br>
                    Three months of the Replit hacker plan to the members of a winning team.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}

    {% include "events/sidebar/code-jams/9.html" %}

{% endblock %}
