{% extends "events/base_sidebar.html" %}

{% load static %}

{% block title %}Summer Code Jam 2022{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url "events:index" %}">Events</a></li>
    <li><a href="{% url "events:page" path="code-jams" %}">Code Jams</a></li>
    <li><a href="{% url "events:page" path="code-jams/9" %}">Summer Code Jam 2022</a></li>
    <li class="is-active"><a href="#">Submissions</a></li>
{% endblock %}

{% block event_content %}
    <p>
        Below is a list of all projects submitted by the end of Summer Code Jam 2022
    </p>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Artful Angels</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Artful-Angels/code-jam" title="Artful Angels">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Burly Barghests</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/jasonho1308/summer-code-jam-2022" title="Burly Barghests">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Cerebral Centaurs</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/collerek/cerebral-centaurs" title="Cerebral Centaurs">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Dynamic Dryads</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Kronifer/code-jam-9" title="Dynamic Dryads">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Generous Giants</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/bast0006/cj9-generous-giants/" title="Generous Giants">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Genuine Djinn</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/srijal30/genuine-djinn" title="Genuine Djinn">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Gorgeous Ghouls</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Gorgeous-Ghouls/Blak" title="Gorgeous Ghouls">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Heroic Hydra</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/mkadiya20/heroic-hydra" title="Heroic Hydra">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Kindly Kappa</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Vthechamp22/kindly-kappa" title="Kindly Kappa">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Kingly Kelpies</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/Kingly-elpies/KinglyKelpies" title="Kingly Kelpies">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Logical Leprechauns</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/AbooMinister25/Curse-of-the-Mites" title="Logical Leprechauns">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Lucky Leucrota</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/lucky-leucrota/cj9-lucky-leucrota" title="Lucky Leucrota">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Muscular Mermaids</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/vonvic/Python-CodeJam-2022-MM" title="Muscular Mermaids">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Old-Fashioned Orcs</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/smileyface12349/old-fashioned-orcs" title="Old-Fashioned Orcs">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="has-text-centered">Sassy Snallygasters</p>
        </div>
        <div class="column is-half">
            <p class="has-text-centered"><a href="https://github.com/SFM61319/sassy-snallygasters_code-jam-9" title="Sassy Snallygasters">GitHub</a></p>
        </div>
    </div>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <p class="has-text-centered">Silly Selkies</p>
        </div>
        <div class="column is-half">
          <p class="has-text-centered"><a href="https://github.com/kguzek/code-jam-2022" title="Silly Selkies">GitHub</a></p>
        </div>
      </div>

      <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <p class="has-text-centered">Spiffy Sphinxes</p>
        </div>
        <div class="column is-half">
          <p class="has-text-centered"><a href="https://github.com/Sanyok6/Chesstopia" title="Spiffy Sphinxes">GitHub</a></p>
        </div>
      </div>

      <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <p class="has-text-centered">Stately Satyrs</p>
        </div>
        <div class="column is-half">
          <p class="has-text-centered"><a href="https://github.com/Lime-Parallelogram/cj2022-stately-satyrs" title="Stately Satyrs">GitHub</a></p>
        </div>
      </div>

      <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <p class="has-text-centered">Tireless Timingila</p>
        </div>
        <div class="column is-half">
          <p class="has-text-centered"><a href="https://github.com/Ibrahim2750mi/tireless-timingila" title="Tireless Timingila">GitHub</a></p>
        </div>
      </div>

      <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <p class="has-text-centered">Towering Tupilaqs</p>
        </div>
        <div class="column is-half">
          <p class="has-text-centered"><a href="https://github.com/TheFactoryMustGrowLarger/towering-tupilaqs" title="Towering Tupilaqs">GitHub</a></p>
        </div>
      </div>

      <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <p class="has-text-centered">Valiant Valkyries</p>
        </div>
        <div class="column is-half">
          <p class="has-text-centered"><a href="https://github.com/legosiv/valiant-valkyries" title="Valiant Valkyries">GitHub</a></p>
        </div>
      </div>

      <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <p class="has-text-centered">Wily Werewolves</p>
        </div>
        <div class="column is-half">
          <p class="has-text-centered"><a href="https://github.com/HarshitJoshi9152/Codejam-2022-pythondiscord" title="Wily Werewolves">GitHub</a></p>
        </div>
      </div>

      <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <p class="has-text-centered">Zesty Zombies</p>
        </div>
        <div class="column is-half">
          <p class="has-text-centered"><a href="https://github.com/nitinramvelraj/zesty-zombies-2.0" title="Zesty Zombies">GitHub</a></p>
        </div>
      </div>

{% endblock %}

{% block sidebar %}

    {% include "events/sidebar/code-jams/9.html" %}

{% endblock %}
