.breadcrumb-section {
    padding: 1rem;
}

i.resource-icon.is-orangered {
    color: #FE640A;
}

i.resource-icon.is-orangered:hover {
    color: #fe9840;
}

i.resource-icon.is-blurple {
    color: #7289DA;
}

i.resource-icon.is-blurple:hover {
    color: #93a8da;
}

i.resource-icon.is-teal {
    color: #95DBE5;
}

i.resource-icon.is-teal:hover {
    color: #a9f5ff;
}

i.resource-icon.is-youtube-red {
    color: #BB0000;
}

i.resource-icon.is-youtube-red:hover {
    color: #f80000;
}

i.resource-icon.is-amazon-orange {
    color: #FF9900;
}

i.resource-icon.is-amazon-orange:hover {
    color: #ffb71a;
}

i.resource-icon.is-black {
    color: #000000;
}

i.resource-icon.is-black {
    color: #191919;
}

i.has-icon-padding {
    padding: 0 10px 25px 0;
}

.payment-free, .payment-optional {
    color: dimgray;
}

.payment-free:hover, .payment-optional:hover {
    color: gray;
}

.payment-paid {
    color: darkgoldenrod;
}

.payment-paid:hover {
    color: goldenrod;
}

.tooltip:hover:before {
  display: block;
}
