.breadcrumb-section {
    padding: 1rem;
}

i.resource-icon.is-orangered {
    color: #FE640A;
}

i.resource-icon.is-orangered:hover {
    color: #fe9840;
}

i.resource-icon.is-blurple {
    color: #7289DA;
}

i.resource-icon.is-blurple:hover {
    color: #93a8da;
}

i.resource-icon.is-teal {
    color: #95DBE5;
}

i.resource-icon.is-teal:hover {
    color: #a9f5ff;
}

i.resource-icon.is-youtube-red {
    color: #BB0000;
}

i.resource-icon.is-youtube-red:hover {
    color: #f80000;
}

i.resource-icon.is-goodreads-cream {
    color: #f3f2e9;
}

i.resource-icon.is-goodreads-cream:hover {
    color: #ffffff;
}

i.resource-icon.is-black {
    color: #000000;
}

i.resource-icon.is-black {
    color: #191919;
}

i.has-icon-padding {
    padding: 0 10px 25px 0;
}
