/* Disable highlighting for all text in the filters. */
.filter-checkbox,
.filter-panel label,
.card-header span {
    user-select: none
}

/* Remove pointless margin in panel header */
#filter-panel-header {
    margin-bottom: 0;
}

/* Full width filter cards */
#resource-filtering-panel .card .collapsible-content .card-content {
    padding:0
}

/* Disable clicking on the checkbox itself. */
/* Instead, we want to let the anchor tag handle clicks. */
.filter-checkbox {
    pointer-events: none;
}

/* Blurple category icons */
i.is-primary {
    color: #7289da;
}
