{% extends "events/base_sidebar.html" %}

{% block title %}Summer Code Jam 2020: Early Internet{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url "events:index" %}">Events</a></li>
    <li><a href="{% url "events:page" path="code-jams" %}">Code Jams</a></li>
    <li class="is-active"><a href="#">Summer Code Jam 2020: Early Internet</a></li>
{% endblock %}

{% block event_content %}
    <p>
        For Python Discord's 7<sup>th</sup> biannual code jam, contestants utilized the <strong>Django</strong> framework
        to create a web application. The theme for this event was <strong>Early Internet</strong>, lasting from
        July 31<sup>st</sup> to August 9<sup>th</sup>. This was our largest event ever, with over 50 teams competing
        for prizes from our prize pool along with the illustrious role of <code>Code Jam Champions</code> on our server.
    </p>

    <h3 id="task-description"><a href="#task-description">Task Description</a></h3>
    <p>
        The original task description, as found in the <a href="https://github.com/python-discord/summer-code-jam-2020">repository</a>, was as follows:
    </p>
    <blockquote>
        <strong>The theme for this code jam is Early Internet.</strong>
        <p>
            What you do with this theme or how you interpret it is up to you, but it will be your task to come up with something fun using this theme.
        </p>

        <strong>The chosen technology for this game jam is <a href="https://www.djangoproject.com/">Django</a>.</strong>
        <p>
            Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. It comes "batteries included" with a slew of incredibly polished features, including database migrations, an excellent CRM, access control, security features to prevent you from making expensive mistakes, and
            <a href="https://docs.djangoproject.com/en/3.0/">probably the best documentation on the internet</a>.
        </p>
    </blockquote>

    <h3 id="judging-stream"><a href="#judging-stream">Judging Stream</a></h3>
    <p>
        If you want to watch the original code jam judging stream, you can find it on YouTube - all of the submissions are showcased in the stream. The winning project is showcased at the <a href="https://youtu.be/OFtm8f2iu6c?t=6443">01:47:23</a> timestamp.
    </p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/OFtm8f2iu6c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h3 id="results"><a href="#results">Results</a></h3>
    <p>
        The <strong>winning team</strong> for this code jam was the <strong>Juicy Jaguars</strong>, consisting of charlotte, joshuqa, and dang.
        They created an incredible Windows 95 web application, named Web95. It included a plethora of features, such as movable windows,
        a start menu, a recreation of Internet Explorer, different themes & wallpapers, and a couple of fun easter eggs. The killer feature of this project was Internet Explorer. It processed the fonts, images, and colors of each webpage visited to make the experience feel as if
        it were from the 90s! This was an incredibly novel idea, which was executed beautifully.
    </p>
    <p>
        Check out their submission in our <a href="https://github.com/python-discord/summer-code-jam-2020/tree/master/juicy-jaguars">repository</a>
        and watch us review it on the <a href="https://youtu.be/OFtm8f2iu6c?t=6443">livestream</a>!
    </p>

    <h3 id="runner-up-1"><a href="#runner-up-1">Runner up 1: Annoyed Alligators</a></h3>
    <p>
        The <strong>Annoyed Alligators</strong> (i..kun, gkrou, SurvivingOnNaps, corner, and pykam) created a social media platform which is controllable by
        a command line interface, named SoCommandLine Media (SoCL). Users can signup to create posts and view what others have posted already, all via the
        command line. It evens supports direct messaging other users and getting the latest news articles for you to read!
    </p>
    <p>
        Have a look at their submission in our <a href="https://github.com/python-discord/summer-code-jam-2020/tree/master/annoyed-alligators">repository</a>
        and view it on the <a href="https://youtu.be/OFtm8f2iu6c?t=2200">livestream</a>!
    </p>

    <h3 id="runner-up-2"><a href="#runner-up-2">Runner up 2: Mysterious Mice</a></h3>
    <p>
        The <strong>Mysterious Mice</strong> (rryyaann, onatoko, n0remac, and venturafranklin) created a social media site for NASA's rovers, named SpaceBook. It included profiles and photos of each rover, showed what the weather was like on Mars, and even had a text-based adventure game in a terminal! The beautiful, retro UI along with the animated space background made it a pleasure to use.
    </p>
    <p>
        Feel free to check out their submission in our <a href="https://github.com/python-discord/summer-code-jam-2020/tree/master/mysterious-mice">repository</a>
        and watch us use it on the <a href="https://youtu.be/OFtm8f2iu6c?t=7624">livestream</a>!
    </p>
{% endblock %}

{% block sidebar %}
    {% include "events/sidebar/code-jams/7.html" %}
    <div class="box">
        <p class="menu-label">Relevant Links</p>
        <ul class="menu-list">
            <!-- Add other items when they become available -->
            <li><a class="has-text-link" href="{% url "events:page" path="code-jams/7/rules" %}">Rules</a></li>
        </ul>
    </div>
{% endblock %}
