{% load static %}

{# Current or ongoing event #}
{# (n/a) #}

{# Next event to promote #}
<div class="box has-background-warning-light" style="padding: 2rem; padding-top: .75rem;">
    <small class="has-text-grey">Upcoming event</small>
    <div class="columns is-3 mt-1" style="--columnGap: 0.75rem;">
        <div class="column">
            <h2 class="title is-4"><a href="https://pyweek.org/37/">PyWeek 37</a></h2>
            <p class="subtitle is-6" style="margin-top: -.75rem;">
                <span class="icon-text">
                    <span class="icon"><i class="fa-regular fa-calendar"></i></span><span>March 17-24</span>
                </span>
            </p>
        </div>
        <div class="column">
            <img src="https://pyweek.readthedocs.io/en/latest/_static/pyweek.svg" style="border-radius: 10px;" alt="PyWeek logo">
        </div>
    </div>
    <p>PyWeek has been running a bi-annual game jam for the Python language. As of 2020, we are excited to say we are officially partnered with PyWeek to co-run these events.</p>
    <a class="button is-link" href="https://pyweek.org/37/">
        <span class="icon-text">
            <span>Learn more</span><span class="icon has-text-white"><i class="fa-solid fa-arrow-right"></i></span>
        </span>
    </a>
</div>
