{% load static %}

{# Current/next event to promote #}
<div class="box has-background-warning-light" style="padding: 2rem; padding-top: .75rem; margin-top: 2rem;">
    <small class="has-text-grey">Upcoming event</small>
    <div class="columns is-3 mt-1" style="--columnGap: 0.75rem;">
        <div class="column">
            <h2 class="title is-4"><a href="{% url "events:page" path="#" %}">No current upcoming events yet!</a></h2>
            <p class="subtitle is-6" style="margin-top: -.75rem;">
                <span class="icon-text">
                    <span class="icon"><i class="fa-regular fa-calendar"></i></span><span>TBD</span>
                </span>
            </p>
        </div>
        <div class="column">
            <img src="{% static "images/events/gallery/pixels.png" %}" style="border-radius: 10px;" alt="No current events">
        </div>
    </div>
    <p>There are currently no planned upcoming events. Subscribe to the announcements at our Discord Server to find out more!</p>
    <a class="button is-primary" href="https://discord.gg/python">
        <span class="icon-text">
            <span>Join our Discord</span><span class="icon"><i class="fa-solid fa-arrow-right"></i></span>
        </span>
    </a>
</div>
