{% load static %}

{# Current or ongoing event #}
{# (n/a) #}

{# Next event to promote #}
<div class="box has-background-warning-light" style="padding: 2rem; padding-top: 1.25rem;">
    <div class="columns is-3" style="--columnGap: 0.75rem;">
        <div class="column">
            <p class="subtitle is-6 has-text-grey" style="padding-bottom: 1rem;">Upcoming event</p>
            <h2 class="title is-4"><a href="https://pyweek.org/37/">PyWeek 37</a></h2>
            <p><strong>March 17-24</strong></p>
        </div>
        <div class="column">
            <img src="https://pyweek.readthedocs.io/en/latest/_static/pyweek.svg" style="border-radius: 10px;" alt="PyWeek logo">
        </div>
    </div>
    <p>PyWeek has been running a bi-annual game jam for the Python language. As of 2020, we are excited to say we are officially partnered with PyWeek to co-run these events.</p>
    <a class="button is-link" href="https://pyweek.org/37/">Learn more <span class="icon is-white"><i class="fa-regular fa-arrow-right"></i></span></a>
</div>
