{% extends "events/base_sidebar.html" %}

{% block title %}Events{% endblock %}

{% block breadcrumb %}
    <li class="is-active"><a href="#">Events</a></li>
{% endblock %}

{% block event_content %}
    <div>
        <p>An integral part of the Python Discord experience are the community-wide events we run. Whether it's competing in our yearly Code Jam, joining our Advent of Code leaderboard, or learning about APIs via a collaborative digital canvas, there's an event for you to join! Head over to the Discord server and <code>!subscribe</code> to the <code>@Announcements</code> role to be notified of future events - meanwhile, you can check out the scheduled events tab on the Discord server or read on for further information.</p>
    </div>
{% endblock %}

{% block sidebar %}
    {% include "events/sidebar/events-list.html" %}
{% endblock %}
