{% load static %}

<div class="has-text-centered">
    <h2 class="title is-4">Annual events</h2>
</div>
<br>

{# These events are sorted in the desired (arbitrary) order, such as priority #}
<div class="event-gallery" id="main-events-section">
    <div class="card">
        <span class="colored-line has-background-primary"></span>
        <div class="card-content">
            <h2 class="title is-4"><a href="{% url "events:page" path="code-jams" %}">Code Jams</a></h2>
            <p class="subtitle is-7 has-text-grey">
                <span class="icon-text">
                    <span class="icon date-icon"><i class="fa-regular fa-calendar"></i></span>
                    <span>July to August</span>
                </span>
            </p>
            <p>Once a year we host a code jam for members of our server to participate in. The code jam is an event where we place you in a team with 5 other random server members. You then have 11 days to code some sort of application or program in Python. Your program must use the specified technology/framework and incorporate the theme chosen by the server.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img loading=lazy class="light-image" src="/static/images/events/gallery/pyweek.png" alt="PyWeek logo">
            <img loading=lazy class="dark-image" src="/static/images/events/gallery/pyweek_dark.png" alt="PyWeek logo">
        </div>
        <div class="card-content">
            <h2 class="title is-4"><a href="{% url "events:page" path="pyweek" %}">PyWeek</a></h2>
            <p class="subtitle is-7 has-text-grey">
                <span class="icon-text">
                    <span class="icon date-icon"><i class="fa-regular fa-calendar"></i></span>
                    <span>March & September</span>
                </span>
            </p>
            <p>For the past 15 years, PyWeek has been running a bi-annual game jam for the Python language. As of 2020, we are excited to say that we are officially partnered with PyWeek to co-run these events.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img loading=lazy src="/static/images/events/gallery/adventofcode.png" alt="Server icon for Advent of Code">
        </div>
        <div class="card-content">
            <h2 class="title is-4"><a href="{% url "events:page" path="adventofcode" %}">Advent of code</a></h2>
            <p class="subtitle is-7 has-text-grey">
                <span class="icon-text">
                    <span class="icon date-icon"><i class="fa-regular fa-calendar"></i></span>
                    <span>December</span>
                </span>
            </p>
            <p>An advent calendar of small programming puzzles for a variety of skill sets and skill levels that can be solved in any programming language you like, including Python. The puzzles start off easy and gradually get more difficult, all while revealing a fun little story that is appropriate for some seasons more than others. Puzzles are posted every day as they come, and you'll be able to discuss your solutions for each puzzle in dedicated threads.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img loading=lazy src="/static/images/events/gallery/adventofcode.png" alt="Server icon for Advent of Code">
        </div>
        <div class="card-content">
            <h2 class="title is-4"><a href="{% url "events:page" path="revivalofcode" %}">Revival of Code</a></h2>
            <p class="subtitle is-7 has-text-grey">
                <span class="icon-text">
                    <span class="icon date-icon"><i class="fa-regular fa-calendar"></i></span>
                    <span>July to August</span>
                </span>
            </p>
            <p>Revival of Code is a Python Discord hosted event where we release old Advent of Code puzzles from a previous year. Puzzles are for a variety of skill sets and skill levels that can be solved in any programming language you like, including Python. They will be posted every other day, and you'll be able to discuss your solutions in dedicated threads.</p>
        </div>
    </div>
    <div class="card">
        <span class="colored-line has-background-success"></span>
        <div class="card-content">
            <h2 class="title is-4">😜 April Fools</h2>
            <p class="subtitle is-7 has-text-grey">
                <span class="icon-text">
                    <span class="icon date-icon"><i class="fa-regular fa-calendar"></i></span>
                    <span>April 1st</span>
                </span>
            </p>
            <p>Once a year we come up with something different for April Fools.</p>
            <p>In 2022 for instance, we came up with <a href="https://peps.pythondiscord.com/pep-9001/">PEP 9001</a>, "The Final Style Guide for Python", <a href="https://peps.pythondiscord.com/pep-2241/">PEP 2241</a>, "Back to the Past", and a revised Zen of Python which you can check out using the <code>&zen</code> command. The <code>&blurpify</code> command is also available after the event for members to experiment with the style guide.</p>
        </div>
    </div>
</div>
