<div class="box" id="scheduled-events">
    <h2 class="title is-5" style="margin-bottom: 2rem;">Scheduled events</h2>
    <article class="media">
        <div class="media-left">
            <p class="image is-64x64">
                <a href="{% url "events:page" path="code-jams/12" %}"><img class="is-rounded" src="/static/images/events/summer_code_jam_2025/logo.png" alt=""></a>
            </p>
        </div>
        <div class="media-content">
            <div class="content">
                <h5 class="title is-4"><a href="{% url "events:page" path="code-jams/12" %}">Summer Code Jam 2025</a></h5>
                <p class="subtitle is-6">
                    <span class="icon-text">
                        <span class="icon date-icon"><i class="fa-regular fa-calendar"></i></span>
                        <span>July/August 2025</span>
                    </span>
                </p>
                <p>Our annual code-jam where we place you in a team of five and you have 11 days to code some sort of application or program in Python based on a selected technology or framework.</p>
            </div>
            <a class="button is-small is-link is-outlined" href="{% url "events:page" path="code-jams" %}">
                <span class="icon date-icon"><i class="fas fa-circle-info"></i></span>
                <span>Learn more</span>
            </a>
        </div>
    </article>
    <article class="media">
        <div class="media-left">
            <p class="image is-64x64">
                <a href="{% url "events:page" path="pyweek" %}"><img class="is-rounded" src="/static/images/events/icons/pyweek.png" alt=""></a>
            </p>
        </div>
        <div class="media-content">
            <div class="content">
                <h5 class="title is-4"><a href="{% url "events:page" path="pyweek" %}">PyWeek 38</a></h5>
                <p class="subtitle is-6">
                    <span class="icon-text">
                        <span class="icon date-icon"><i class="fa-regular fa-calendar"></i></span>
                        <span>September 2024</span>
                    </span>
                </p>
                <p>The bi-annual game-jam where you are allowed one week to write a game from scratch, either as an individual or as a team.</p>
            </div>
            <a class="button is-small is-link is-outlined" href="https://pyweek.org/">
                <span class="icon date-icon"><i class="fas fa-circle-info"></i></span>
                <span>Learn more</span>
            </a>
        </div>
    </article>
    <article class="media">
        <div class="media-left">
            <p class="image is-64x64">
                <a href="{% url "events:page" path="adventofcode" %}"><img class="is-rounded" src="/static/images/events/icons/adventofcode.png" alt=""></a>
            </p>
        </div>
        <div class="media-content">
            <div class="content">
                <h5 class="title is-4"><a href="{% url "events:page" path="adventofcode" %}">Advent of Code</a></h5>
                <p class="subtitle is-6">
                    <span class="icon-text">
                        <span class="icon date-icon"><i class="fa-regular fa-calendar"></i></span>
                        <span>December 1-25, 2024</span>
                    </span>
                </p>
                <p>Daily programming puzzles with increasing difficulties where each puzzle has a little story and you can discuss solutions with other participants. You are allowed to use any programming language you like.</p>
            </div>
            <a class="button is-small is-link is-outlined" href="{% url "events:page" path="adventofcode" %}">
                <span class="icon date-icon"><i class="fas fa-circle-info"></i></span>
                <span>Learn more</span>
            </a>
        </div>
    </article>
</div>
