{% load static %}

<h2 class="title is-4">Upcoming event</h2>
<div class="box">
    <h2 class="title is-4"><a href="https://pyweek.org/">PyWeek 37</a></h2>
    <p><strong>March 17-24</strong></p>
    <div class="columns is-3" style="--columnGap: 0.75rem;">
        <div class="column">
            <p>PyWeek has been running a bi-annual game jam for the Python language. As of 2020, we are excited to say we are officially partnered with PyWeek to co-run these events.</p>
        </div>
        <div class="column">
            <img src="https://pyweek.readthedocs.io/en/latest/_static/pyweek.svg" style="border-radius: 10px;" alt="Pyweek logo">
        </div>
    </div>
</div>
