.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
}

.collapsible-content {
  transition: max-height 0.3s ease-out;
}

.collapsible-content.collapsed {
  overflow: hidden;
  max-height: 0 !important;
}
