/*
  Page-specific styling for the resources page
*/

$page_classes: (
  page-main-info-resources,  // Resources page
);

@each $class in $page_classes {
  .#{$class} {
    .payment-icon {
      margin-right: 1em;

      img {
        height: 2em;
      }
    }
  }
}
