{% load i18n %}
{% if urlpath %}

  <div class="navbar-item">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      {% for ancestor in urlpath.cached_ancestors %}
        <li>
          <a href="{% url 'wiki:get' path=ancestor.path %}">{{ ancestor.article.current_revision.title|truncatechars:25 }}</a>
        </li>
      {% endfor %}

      <li class="active">
        <a href="{% url 'wiki:get' path=article.path %}">{{ article.current_revision.title|truncatechars:25 }}</a>
      </li>
    </nav>
  </div>

  <hr class="navbar-divider">

  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">Sub-Articles</a>

    <div class="navbar-dropdown">
      {% if children_slice %}
        {% for child in children_slice %}
          <a class="navbar-item" href="{% url 'wiki:get' path=child.path %}">
            {{ child.article.current_revision.title }}
          </a>
        {% endfor %}

        {% if children_slice_more %}
          <a class="navbar-item" href="{% url 'wiki:dir' path=urlpath.path %}">
            ...and more.
          </a>
        {% endif %}

        <hr class="navbar-divider">
      {% endif %}

      <a class="navbar-item" href="{% url 'wiki:dir' path=urlpath.path %}">
        Browse other articles
      </a>
    </div>
  </div>

  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">Create Article</a>

    <div class="navbar-dropdown">
      {% if urlpath.parent %}
        <a class="navbar-item" href="{% url 'wiki:create' path=urlpath.parent.path %}">
          At current level
        </a>
      {% endif %}

      <a class="navbar-item" href="{% url 'wiki:create' path=urlpath.path %}">
        Below current level
      </a>
    </div>
  </div>
{% endif %}
