{% if field.is_hidden %}
  {{ field }}
{% else %}
  <div id="div_{{ field.auto_id }}" class="field is-horizontal{% if field.errors %} is-danger{% endif %}">
    <div class="field-label">
      {% if field.label %}
        <label for="div_{{ field.auto_id }}" class="label {% if field.errors %} is-danger{% endif %}">
          {{ field.label | safe }} {% if field.field.required %}<span class="asterisk">*</span>{% endif %}
        </label>
      {% endif %}
      {% if field.help_text %}
        <p id="hint_{{ field.auto_id }}" class="help">
          {{ field.help_text|safe }}
        </p>
      {% endif %}
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          {{ field }}
        </div>
      </div>

      {% if field.errors %}
        <p class="help is-danger">
          {% for error in field.errors %}
            <span id="error_{{ forloop.counter }}_{{ field.auto_id }}">{{ error }}</span><br />
          {% endfor %}
        </p>
      {% endif %}
    </div>
  </div>

{#<div id="div_{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %}">#}
{#  <div class="wiki-label col-xs-3 col-lg-2">#}
{#  {% if field.label %}#}
{#    <label for="{{ field.id_for_label }}" class="control-label {% if field.field.required %}requiredField{% endif %}">#}
{#    {{ field.label|safe }}#}
{#    </label>#}
{#  {% endif %}#}
{#  </div>#}
{#  <div class="wiki-control col-xs-9 col-lg-10">#}
{#    {{ field }} {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}#}
{#    {% if field.errors %}#}
{#      {% for error in field.errors %}#}
{#        <div id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></div>#}
{#      {% endfor %}#}
{#    {% endif %}#}
{#    {% if field.help_text %}#}
{#      <p id="hint_{{ field.auto_id }}" class="help-block">{{ field.help_text|safe }}</p>#}
{#    {% endif %}#}
{#  </div>#}
{#</div>#}
{% endif %}
