{% comment %}
  This reusable code is shared between different templates and different inheritors of
  BaseRevision.
{% endcomment %}

{% load wiki_tags %}

{% if not hidedate %}{{ revision.created }}{% endif %} {% if not hidenumber %}(#{{ revision.revision_number }}) by{% endif %} {% if revision.user %}{{ revision.user }}{% else %}{% if article|can_moderate:user %}{{ revision.ip_address|default:"anonymous (IP not logged)" }}{% else %}anonymous (IP logged){% endif %}{% endif %}

{% if revision.deleted %}
  <span class="tag is-danger">deleted</span>
{% endif %}

{% if revision.previous_revision.deleted and not revision.deleted %}
  <span class="tag is-success">restored</span>
{% endif %}

{% if revision.locked %}
  <span class="tag is-danger">locked</span>
{% endif %}

{% if revision.previous_revision.locked and not revision.locked %}
  <span class="tag is-success">unlocked</span>
{% endif %}
