{% load humanize %}

<tr>
  <td>
    {% for urlpath in article.urlpath_set.all %}
      <a href="{% url 'wiki:get' path=urlpath.path %}">
        {{ article.current_revision.title }}
        <br />
        <small class="has-text-grey">Slug: /{{ urlpath.path }}</small>
      </a>
    {% empty %}
      <a href="{% url 'wiki:get' article_id=article.id %}">
        {{ article.current_revision.title }}
      </a>
    {% endfor %}

    {% if article.current_revision.deleted %}
      <span class="icon">
        <i class="fas fa-trash"></i>
      </span>
    {% endif %}

    {% if article.current_revision.locked %}
      <span class="icon">
        <i class="fas fa-lock"></i>
      </span>
    {% endif %}
  </td>

  <td class="has-text-right">
    {{ article.current_revision.created|naturaltime }}
  </td>
</tr>
