{% extends "events/base.html" %}

{% block breadcrumb %}
    <li><a href="{% url "events:index" %}">Events</a></li>
    <li><a href="{% url "events:page" path="code-jams" %}">Code Jams</a></li>
    <li class="is-active"><a href="#">How does judging work?</a></li>
{% endblock %}

{% block title %}How does judging work?{% endblock %}

{% block event_content %}
    <p>
        Here at Python Discord, judging the code jam is a process that continues throughout the entire event.
        This document seeks to detail exactly what the judges will consider when attempting to determine the winner of the code jam.
    </p>
    <p>
        Because programming is full of subtleties and judging is not an exact science, this document will inevitably fall short of being an exact guide for how to win, but it should at least give you an idea of what you should be mindful of as a participant.
    </p>

    <h2 class="title is-4" id="style"><a href="#style">Style</a></h2>
    <p>
        Python is a language in which code style matters more than what someone might be used to coming from other languages.
        We believe that good code is code that is easy to read, pleasant to work with,
        and self-documenting. Here are some of the things we'll consider when judging your submission:
    </p>
    <ul>
        <li>
            Do variables have good names that make it obvious what they are going to be used for?
        </li>
        <li>
            Are files organized in a way that makes the project easy to navigate?
        </li>
        <li>
            Does the code follow the conventions of <a href="https://www.python.org/dev/peps/pep-0008/">the official Python style guide</a>?
        </li>
        <li>
            Does your project have good git commit messages that explain not only what you were doing, but why?
        </li>
        <li>
            Are there enough comments in the code?
            A good rule of thumb for this is to make sure it's easy to <em>skim through the code</em>.
            Another programmer should not have to read every line of code in a section in order to determine what it does.
        </li>
        <li>
            Does your code use blank lines and block comments in order to split up large chunks of code into smaller, logically separated sections?
        </li>
        <li>
            Are your comments and docstrings free of poor formulations and typos?
        </li>
    </ul>
    <p>
        If you can answer yes to all of the above, you will probably score well on style.
        Using a linter (such as <code>flake8</code>) can be an easy way to greatly improve your style.
    </p>
    <p>
        If your submission contains other languages than Python,
        <em>please keep in mind that we will only review the Python code</em>.
        This means that it is a good idea for you to solve as much of your submission as possible using Python.
        For example, if you're making a webapp with a Python backend, make sure you solve all the interesting stuff in the backend, not in the frontend.
    </p>

    <h2 class="title is-4" id="originality"><a href="#originality">Originality</a></h2>
    <p>
        In order to level the playing field a bit, we've decided that this is the most important factor of all in our code jams.
        If your idea is an exceptionally good one and you are a beginner,
        we will cut you some slack on style and execution.
        You may be able to walk away victorious even though the other teams have far more experienced Python professionals.
        It is therefore crucial that you consider <em>what to do more</em> carefully than exactly <em>how to do it</em>.
    </p>
    <p>
        That said, experienced Python developers will always have an advantage,
        so don't expect to win with a lazy or ugly implementation just because your idea is brilliant.
    </p>

    <h2 class="title is-4" id="execution"><a href="#execution">Execution</a></h2>
    <p>
        An important factor is whether your solution is the best solution to the problem you are solving.
        If your solution is overly convoluted, this will count against you in our evaluation.
    </p>
    <p>
        While the code jam is ongoing, staff will be available to you both inside your team channel and in the common code jam channels.
        Staff may drop by your team channel to make helpful suggestions, answer questions, or just ask you how it's going.
        Feel free to grab a staff member and ask a question at any point if you're unsure about something.
    </p>
    <p>
        Our talented team of Helpers will also be available during the code jam,
        so if there is a part of your code you're unsure about, feel free to bring it to a help channel.
        We will be happy to provide advice on how to improve it.
        Do not, however, post your entire program; help requests should be bite-sized.
    </p>

    <h2 class="title is-4" id="teamwork"><a href="#teamwork">Teamwork</a></h2>
    <p>
        During the code jam, you will be assigned teammates. It is crucial that you find a way to work with your teammates,
        as we will be evaluating your ability to work as a team.
        Team members who constantly bicker, complain about each other,
        or fail to divide up tasks so that everyone can contribute will be penalized when we evaluate the code jam.
    </p>
    <p>
        This does not, however, mean that a team that has a "bad egg" will automatically be unable to win the code-jam.
        If a team member refuses to play well with the rest of the team or does not participate in the jam,
        we will usually remove that person from the team and attempt to find a new teammate for the team to replace them.
        This will also lead to an infraction against the offending team member,
        which may make it impossible for them to join some (or all) future code jams.
    </p>
{% endblock %}

{% block sidebar %}
    {% include "events/sidebar/code-jams/useful-information.html" %}
{% endblock %}
