{% extends "main/base.html" %}
{% block title %}Code Jams | Banned{% endblock %}
{% block og_title %}Code Jams | Banned{% endblock %}

{% block content %}
<div class="uk-section">
    <div class="uk-container uk-container-small">
        <h1 class="uk-header uk-article-title">
            Code Jam {{ jam.number }}: {{ jam.title }}
        </h1>
        <p class="uk-article-meta">
            Bring the thunder!
        </p>

        {% if infraction.number == -1 %}
            <p class="uk-alert uk-alert-danger">
                Thanks for your interest in this code jam! Unfortunately, due to your previous actions, you have been
                permanently banned from participating in our code jams.
                <br />
                <br />
                The reason given is: <strong>{{ infraction.reason }}</strong>
                <br />
                <br />
                If you feel that this is a mistake, please feel free to contact one of the admins on Discord.
            </p>
        {% else %}
            <p class="uk-alert uk-alert-danger">
                Thanks for your interest in this code jam! Unfortunately, due to your previous actions, you have been
                temporarily banned from participating in our code jams.
                <br />
                <br />
                The reason given is: <strong>{{ infraction.reason }}</strong>
                <br />
                <br />
                If you feel that this is a mistake, please feel free to contact one of the admins on Discord.
            </p>
        {% endif %}

        <a class="uk-button uk-button-secondary uk-align-center" href="{{ url_for("main.jams.index") }}">
            <i class="uk-icon fa-fw far fa-arrow-left"></i> &nbsp;Back to all code jams
        </a>
    </div>
</div>
{% endblock %}
