{% extends "main/base.html" %}
{% block title %}Code Jams | Already applied{% endblock %}
{% block og_title %}Code Jams | Already applied{% endblock %}

{% block content %}
<div class="uk-section">
    <div class="uk-container uk-container-small">
        <h1 class="uk-header uk-article-title">
            Code Jams: Profile Retracted
        </h1>

        {% if banned %}
            <p>
                Your code jam profile has been deleted. As you were participating in an ongoing code jam, you have
                been issued with an automatic ban from future code jams. If you'd like to join a code jam in the
                future, please contact us directly and we'll try to resolve the situation with you. Thanks for your
                interest in our code jams regardless!
            </p>
        {% else %}
            <p>
                Your code jam profile has been deleted. you were not participating in an ongoing code jam, no further
                action is required by you. Thanks for your interest in our code jams regardless!
            </p>
        {% endif %}

        <a class="uk-button uk-button-secondary uk-width-1-1" href="{{ url_for("main.jams.index") }}">
            <i class="uk-icon fa-fw far fa-arrow-left"></i> &nbsp;Back to code jams
        </a>
    </div>
</div>
{% endblock %}
