{% extends "main/base.html" %}
{% block title %}Code Jams | Already applied{% endblock %}
{% block og_title %}Code Jams | Already applied{% endblock %}

{% block content %}
<div class="uk-section">
    <div class="uk-container uk-container-small">
        <h1 class="uk-header uk-article-title">
            Code Jams: Retract Profile
        </h1>

        {% if participant %}
            <p>
                Are you sure you'd like to retract your code jam profile?
            </p>

            {% if banned %}
                <p>
                    Retracting your code jam profile will remove your date of birth, GitHub username and timezone from our
                    database. If you're entirely sure that you'd like to remove your profile, please click on the "Remove" button below.
                </p>

                <p>
                    As you are currently taking part in a code jam,
                    <strong class="uk-text-danger">this will void your application and you will receive an automatic ban from future code jams</strong>
                    until you've contacted us about it.
                </p>
            {% else %}
                <p>
                    Retracting your code jam profile will remove your date of birth, GitHub username and timezone from our
                    database. If you're entirely sure that you'd like to remove your profile, please click on the "Remove" button below.
                </p>

                <p>
                    As you are not currently taking part in an ongoing code jam,
                    <strong class="uk-text-primary">you will not be banned from future code jams</strong>.
                </p>
            {% endif %}

            <form action="{{ url_for("main.jams.retract") }}" method="post" class="uk-form uk-text-center" uk-form>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <a class="uk-button uk-button-primary" href="{{ url_for("main.jams.profile") }}">
                    <i class="uk-icon fa-fw far fa-arrow-left"></i> &nbsp;Cancel
                </a>
                <button class="uk-button uk-button-danger" type="submit">
                    <i class="uk-icon fa-fw fas fa-bomb"></i> &nbsp;Remove
                </button>
            </form>
        {% else %}
            <p class="uk-alert uk-alert-danger">
                You can't delete your profile - you haven't submitted one to us yet!
            </p>

            <a class="uk-button uk-button-secondary uk-width-1-1" href="{{ url_for("main.jams.profile") }}">
                <i class="uk-icon fa-fw far fa-arrow-left"></i> &nbsp;Back
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}
