{% extends "main/base.html" %}
{% block title %}Code Jams | My Teams{% endblock %}
{% block og_title %}Code Jams | My Teams{% endblock %}

{% block content %}
    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <h1 class="uk-header uk-article-title uk-heading-divider">
                Code Jams: My Teams
            </h1>
            <br>

            {% if teams %}
                {% for team in teams %}
                    <div>
                        <h3>Code Jam #{{ team.jam.number }}: Team <strong>{{ team.name }}</strong></h3>
                        <strong>Team Members</strong>
                        <ul>
                            {% for member in team.members %}
                                <li>
                                    {{ member.username }}#{{ member.discriminator }}
                                    <a class="uk-button uk-button-small"
                                       title="{{ member.gitlab_username }} on GitLab"
                                       target="_blank" href="https://gitlab.com/{{ member.gitlab_username }}">
                                        <i class="uk-icon fa-fw fab fa-gitlab"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% else %}
                <p>You are not part of any team.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
